﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card m-b-5">
    <div class="card-header">
        <div class="row">
            <div class=" col-sm-3">
                <h2 class="c-blue">
                    Add Franchise <small id="productDisplay" style="cursor: pointer;">You can add Franchise Details</small>
                </h2>
            </div>
        </div>
    </div>
</div>
            <div class="card">
                <div class="card-header">
                    <h2>Add Products <small></small></h2>
                </div>

                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <input id="hdnId" type="hidden" value="">
                                <label>Name</label><em>*</em>
                                <input type="text" id="txtName" value="" class="form-control" placeholder="eg: Cybria Technology">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Email</label><em>*</em>
                                <input type="text" id="txtEmail" value="" class="form-control input-mask" placeholder="eg:test123.com">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Password</label><em>*</em>
                                <input type="text" id="txtPassword" value="" class="form-control input-mask" placeholder="eg: Bhubaneswar">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Phone Number</label><em>*</em>
                                <input type="text" id="txtPhoneNumber" value="" class="form-control input-mask" placeholder="eg: Bhubaneswar">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group fg-line">

                                <label>Alternative Phone Number</label><em>*</em>
                                <input type="text" id="txtAltNo" value="" class="form-control" placeholder="eg: 9658112575">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Pin</label><em>*</em>
                                <input type="text" id="txtpin" value="" class="form-control input-mask" placeholder="eg:test123.com">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">

                                <label>Address</label><em>*</em>
                                <textarea id="txtAddress" class="form-control" rows="2" maxlength="250" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="btnAddProductDetails" class="btn btn-primary btn-sm waves-effect pull-right">Save</button>
                    </div>
                </div>
            </div>
