/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    position: relative;
}

    body a {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

a:hover {
    text-decoration: none;
}

input[type="button"], input[type="submit"], .port-grid, .text p, .text h3 {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
    margin-bottom: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}
/*-----start-header----*/
.box {
    width: 100%;
    background: #4285f4;
    margin: 0;
    border-radius: 2px;
}

.css3-shadow {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

    .css3-shadow:after {
        content: "";
    }
/*-------------*/
.logo {
    float: left;
    width: 25.5%;
    margin-top: 1.2em;
}
/* start h_menu */
.top-header {
    margin-top: 1.5em;
}

nav.top-nav {
    float: left;
}

.h_menu4 {
    float: right;
}

.t-Menu {
    display: none;
    background: #E46A3B;
    width: 100%;
    color: #FFF;
    font-size: 1.5em;
}

.nav {
    list-style: none;
    padding: 0 1em;
}

    .nav ul {
        list-style: none;
        width: 13em;
        border: none;
        z-index: 888;
    }

    .nav li a {
        display: block;
        padding: 29.5px 23px;
        color: #fff;
        font-size: 1.1em;
        text-transform: capitalize;
        font-weight: 400;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        text-decoration: none;
        border-top: 4px solid #4285f4;
    }

    .nav li:last-child a {
        border: 1px solid;
        padding: 10px;
        margin-top: 23px;
    }

    .nav li a:hover {
        color: #fff;
    }

    .nav li {
        position: relative;
    }

        .nav li.active {
        }

    .nav > li {
        float: left;
    }

.header-top .nav > li > a:hover, .header-top .nav > li > a:focus {
    text-decoration: none;
    background-color: #3776de;
}

.nav > li > a:hover {
    color: #fff;
    border-top: 4px solid #fff;
}

.nav > li:last-child > a:hover {
    border: 1px solid #fff;
    color: #fff;
    background: #3776de;
}

.nav > li.hover > ul {
    left: 0px;
    top: 80px;
}

.nav li li.hover ul {
    left: 100%;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
}

.nav > li > li > a {
    font-size: 0.85em;
    padding: 10px 20px;
    display: block;
    color: #555;
    background: #fff;
    position: relative;
    z-index: 9999;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 100%;
    text-decoration: none;
    margin: 0;
    borde: none;
    text-transform: lowercase;
}

.nav li li {
    border-top: none;
}

    .nav li li:hover {
        border-top: none;
    }

    .nav li li a {
        text-transform: capitalize;
        font-size: 1em;
        padding: 0.8em;
        color: #999;
        border-top: none;
        border-bottom: 2px ridge rgba(245, 245, 245, 0.13);
    }

        .nav li li a:hover {
            color: #000;
            padding: 0.8em;
            background: #fff;
        }

.nav > li > ul {
    position: absolute;
    left: -9999px;
    padding: 0;
    z-index: 9999;
    background: #F4F4F4;
    padding: 0em 0;
    border-top: 4px solid #4285F4;
}

a.toggleMenu {
    display: none;
}
/***** Media Quries *****/
@media screen and (max-width: 800px) {
    .logo {
        text-align: center;
        float: none;
        margin-top: 0.5em;
        margin-right: 0em;
    }

    .h_logo4 {
        text-align: center;
        float: none;
        margin: 4% 0;
    }

    .h_menu4 {
        float: none;
    }

    .t-Menu {
        padding: 5px 23px;
        width: 100%;
        display: block;
    }

    a.t-Menu {
        padding: 5px 23px;
        color: #fff;
        font-size: 19px;
        font-weight: 400;
        text-decoration: none;
    }

    .nav {
        margin-top: 0;
    }

        .nav li a {
            padding: 10px 15px;
        }

    .nav {
        background: #fff;
    }

    .active {
        display: block;
    }

    .nav > li {
        float: none;
    }

        .nav > li > .parent {
            background-position: 95% 50% !important;
        }

    .nav ul {
        display: block;
        width: 100%;
    }

    .nav > li.hover > ul, .nav li li.hover ul {
        position: static;
    }

    .header_bottom_right {
        float: right;
        width: 77%;
        text-align: center;
    }

    .h_menu4 {
        float: none;
        width: 100%;
        margin: 0.3em 0 0 0;
    }

    .social_icons {
        float: right;
        margin-top: 2em;
        display: none;
    }
}
/**************/
.logo a {
    display: block;
}

.social_icons {
    float: right;
    margin-top: 2em;
}

    .social_icons i {
        width: 26px;
        height: 26px;
        background: url('../images/s-icons.png') no-repeat 0px 0px;
        display: inline-block;
    }

    .social_icons li {
        list-style: none;
        display: inline-block;
    }

i.facebook {
    background-position: -241px -5px;
}

    i.facebook:hover {
        background-position: -241px -44px;
    }

i.twitter {
    background-position: -267px -5px;
}

i.twitter {
    background-position: -267px -44px;
}

i.rss {
    background-position: -293px -5px;
}

    i.rss:hover {
        background-position: -293px -44px;
    }

i.viemo {
    background-position: -318px -5px;
}

    i.viemo:hover {
        background-position: -318px -44px;
    }

i.youtube {
    background-position: -341px -5px;
}

    i.youtube:hover {
        background-position: -341px -44px;
    }

i.linkedin {
    background-position: -368px -5px;
}

    i.linkedin:hover {
        background-position: -368px -44px;
    }

.slider {
    position: relative;
    text-align: center;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

    .rslides h3 {
        color: #fff;
        font-size: 3.5em;
        width: 73%;
        margin: 6em auto 0;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1.2em;
    }

        .rslides h3 span {
            color: #d6ff00;
        }

    .rslides p {
        color: #fff;
        font-size: 2.2em;
        font-weight: 300;
        text-align: center;
    }

    .rslides li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;
    }

        .rslides li:first-child {
            position: relative;
            display: block;
            float: left;
        }

.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    width: 51px;
    height: 27px;
    display: inline-block;
    border: 1px solid #fff;
    background: #fff;
}

.callbacks_here a:after {
    border: 1px solid #F7F0F0;
    background: #4285F4;
}

.callbacks_tabs a {
    visibility: hidden;
}

.callbacks_tabs li {
    display: inline-block;
}

ul.callbacks_tabs.callbacks1_tabs {
    position: absolute;
    bottom: 7.3%;
    z-index: 999;
    left: -76%;
    display: block;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 73%;
    left: 15%;
    opacity: 0.7;
    z-index: 3;
    background: transparent url("../images/gif.png") no-repeat 0px 0px;
    margin-top: -45px;
    display: none;
}

    .callbacks_nav.next {
        left: auto;
        background-position: right top;
        right: 15%;
    }
/*--- slider---*/
.slider-bg {
    background: url("../images/bg.jpg") no-repeat 0px 0px;
    padding: 5em 0 0 0;
    background-size: cover;
    -webkit-background-size: cover;
    -o- background-size: cover;
    -moz- background-size: cover;
    min-height: 520px;
}

.left-grid-1 {
    margin-top: 2em;
    float: left;
}

.right-grid-1 {
    float: right;
}

.left-grid-1 h1, .left-grid-1 h2, .left-grid-1 h3 {
    color: #fff;
    background: #4285F4;
    padding: 0.2em 0.2em;
    width: 71%;
    font-size: 4em;
    border-bottom: 1px solid #fff;
    font-family: 'Oswald', sans-serif;
}

.left-grid-1 h2 {
    width: 60%;
    font-size: 4em;
    border: none;
}

.left-grid-1 h3 {
    border-top: 1px solid #fff;
    border-bottom: none;
}
/*---service-section----*/
.service-section {
    padding: 5em 0em;
}

.services-section-grid, .services-section-grid.lost {
    background: url(../images/ser-bg.png)no-repeat 0px 0px;
    padding: 0;
}

    .services-section-grid.lost {
        margin: 0;
    }

.service-icon {
    float: left;
    width: 18%;
    margin-right: 2%;
}

.service-icon-heading {
    float: left;
    width: 80%;
    padding: 1em 1em;
}

.services-section-grid p {
    color: #999;
    font-size: 0.9em;
    line-height: 1.6em;
    font-weight: 400;
}

.service-icon-heading h4 {
    color: #565252;
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 0.5em 0;
}

i.rocket {
    width: 67px;
    height: 123px;
    background: url('../images/s-icons.png') no-repeat 18px 43px #4285F4;
    display: inline-block;
}

i.plan {
    width: 67px;
    height: 123px;
    background: url('../images/s-icons.png') no-repeat -66px 43px #4285F4;
    display: inline-block;
}

i.book {
    width: 67px;
    height: 123px;
    background: url('../images/s-icons.png') no-repeat -144px 43px #4285F4;
    display: inline-block;
}

i.arrow {
    width: 67px;
    height: 123px;
    background: url('../images/s-icons.png') no-repeat 22px -74px #4285F4;
    display: inline-block;
}

i.download {
    width: 67px;
    height: 123px;
    background: url('../images/s-icons.png') no-repeat -64px -69px #4285F4;
    display: inline-block;
}

i.cloud {
    width: 67px;
    height: 123px;
    background: url('../images/s-icons.png') no-repeat -142px -69px #4285F4;
    display: inline-block;
}

.serve-grids.two {
    margin-top: 1.4em;
}
/*----mid-section----*/
.mid-section {
    padding: 4em 0;
    border-top: double #ddd;
    border-bottom: double #ddd;
}

.mid-top {
    background: #eee;
    padding: 3em 1em;
    border: 1px solid #ddd;
    border-left: 5px solid #4285F4;
}

.mid-text h3 {
    text-transform: uppercase;
    font-size: 1.15em;
    font-weight: 600;
    margin-bottom: 0.7em;
}

.mid-text p {
    color: #999;
    font-size: 0.95em;
}

.mid-text {
    float: left;
}

.mid-button {
    margin-top: 1em;
    padding: 0;
    float: right;
}

    .mid-button a {
        padding: 1em 1em 1em 3em;
        color: #fff;
        font-size: 1.2em;
        font-weight: 600;
        text-decoration: none;
        -webkit-appearance: none;
        border-radius: 0.3em;
        -webkit-border-radius: 0.3em;
        -o-border-radius: 0.3em;
        -moz-border-radius: 0.3em;
        background: url(../images/windows.png) no-repeat 11px 14px #4285F4;
        box-shadow: inset 0px -2px 11px #003ca0;
        -webkit-box-shadow: inset 0px -2px 11px #003ca0;
        -o-box-shadow: inset 0px -2px 11px #003ca0;
        -moz-box-shadow: inset 0px -2px 11px #003ca0;
    }

        .mid-button a:hover {
            opacity: 0.8;
        }

h4.stories span a {
    display: block;
}
/*---portfolio-section-------*/
.port-section {
    padding: 3.5em 0 4em 0;
    position: relative;
}

    .port-section h2 {
        position: absolute;
        left: 13.3%;
        top: -3%;
        background: #fff;
        padding: 0.3em 0.3em;
        font-size: 1.34em;
        font-weight: 700;
    }

.port-grid {
    background: #eee;
    width: 24.2%;
    float: left;
    margin-right: 1.0%;
    padding: 1em 1em;
    position: relative;
}

    .port-grid.lost {
        margin-right: 0%;
    }

    .port-grid:hover {
        background: #4285F4;
    }

.box_type {
    background: #4285F4;
    padding: 5px 21px;
    position: absolute;
    bottom: 146px;
    color: #fff;
    left: 14px;
    font-size: 0.85em;
}

.box-hover {
    position: absolute;
    bottom: 141px;
    right: 13px;
}

ul.port-icons li {
    list-style: none;
    display: inline-block;
}

    ul.port-icons li i.per {
        width: 27px;
        height: 27px;
        display: inline-block;
        background: url("../images/s-icons.png")-243px -83px no-repeat #4285F4;
    }

    ul.port-icons li i.loca {
        width: 27px;
        height: 27px;
        display: inline-block;
        background: url("../images/s-icons.png")-277px -83px no-repeat #4285F4;
    }

.text a h3 {
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1em;
    padding: 0em 0 0.8em 0;
    border-bottom: 2px ridge rgba(239, 240, 240, 0.08);
}

.text p {
    font-size: 0.95em;
    color: #999;
    line-height: 1.8em;
    margin: 0.5em 0;
}

.port-grid :hover .text, .port-grid.lost:hover .text, .port-grid.lost:hover .text h3, .port-grid:hover .text h3 {
    color: #fff;
}

    .port-grid:hover .text p {
        color: #fff;
    }

    .port-grid:hover .text h3 {
        border-bottom: 1px solid #fff;
    }
/*----mid-section----*/
.bottom-section {
    padding: 4em 0;
    border-top: double #ddd;
    border-bottom: double #ddd;
}

.bottom-top {
    background: #eee;
    padding: 3em 1em;
    border: 1px solid #ddd;
    border-left: 5px solid #4285F4;
}

.bottom-text h3 {
    text-transform: uppercase;
    font-size: 1.15em;
    font-weight: 600;
    margin-bottom: 0.7em;
}

.bottom-text p {
    color: #999;
    font-size: 0.95em;
}

.bottom-text {
    float: left;
}

.stories {
    position: relative;
    display: inline;
}

    .stories span {
        position: absolute;
        width: 185px;
        background: #4285F4;
        display: block;
        line-height: 1em;
        text-transform: uppercase;
        height: 130px;
        top: -42px;
        padding: 2.5em 1em 1em 6em;
    }

        .stories span:before {
            content: '';
            position: absolute;
            top: 14%;
            left: -11%;
            width: 0;
            height: 0;
            border-right: 132px solid #eee;
            border-top: 94px solid transparent;
            transform: rotate(-269deg);
            -webkit-transform: rotate(-269deg);
            -0- transform: rotate(-269deg);
            -moz- transform: rotate(-269deg);
        }
/*----blog-section----*/
.blog-section {
    padding: 3em 0;
    position: relative;
}

    .blog-section h3 {
        position: absolute;
        left: 13.3%;
        top: -3%;
        background: #fff;
        padding: 0.3em 0.3em;
        font-size: 1.34em;
        font-weight: 700;
    }

.testimonal h3 {
    position: absolute;
    left: 0%;
    top: -17%;
    background: #fff;
    padding: 0.3em 0.3em;
    font-size: 1.34em;
    font-weight: 700;
    text-transform: uppercase;
}

.blog-left {
    float: left;
    padding: 0;
    position: relative;
}

.testimonal {
    float: right;
}

.left-img a h4 {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1em 0 0.4em 0;
}

.left-img p {
    font-size: 0.95em;
    color: #999;
    line-height: 1.8em;
    margin: 0.5em 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0.8em 0;
    width: 86%;
}

.left-img {
    position: relative;
    padding: 0;
}

ul.blog-icons {
    position: absolute;
    right: 39px;
    top: 214px;
}

    ul.blog-icons li {
        display: inline-block;
        list-style: none;
    }

        ul.blog-icons li i.pencil, ul.blog-icons li i.date, ul.blog-icons li a i.cam, ul.blog-icons li i.date2 {
            width: 42px;
            height: 41px;
            display: inline-block;
            background: url("../images/s-icons.png")-242px -168px no-repeat;
        }

        ul.blog-icons li a i.cam {
            background: url("../images/s-icons.png")-242px -122px no-repeat;
        }

        ul.blog-icons li i.date {
            background: url("../images/s-icons.png")-292px -121px no-repeat;
        }

a.read {
    font-size: 1.1em;
    color: #000;
    font-weight: 500;
    padding: 0.8em 0.8em;
    background: #fff;
    margin-top: 0.8em;
    display: inline-block;
    border-radius: 0.3em;
    cursor: pointer;
}

    a.read span {
        width: 18px;
        height: 13px;
        display: inline-block;
        vertical-align: middle;
        background: url("../images/s-icons.png")no-repeat -293px -182px;
    }

    a.read:hover {
        background: #4285F4;
        padding: 0.8em 0.8em;
        text-decoration: none;
        box-shadow: inset 0px -2px 11px #003ca0;
        -o-box-shadow: inset 0px -2px 11px #003ca0;
        -moz-box-shadow: inset 0px -2px 11px #003ca0;
        color: #fff;
    }

.test-text h4 {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 0.4em;
}

.test-text p {
    font-size: 1.1em;
    color: #000;
    line-height: 1.5em;
}

p.test {
    font-size: 0.95em;
    color: #999;
    line-height: 1.55em;
    margin-top: 0.4em;
    font-style: italic;
}

.test-text p a {
    font-size: 1em;
    color: #4285F4;
}

.test-img {
    float: left;
    padding: 0;
}

.test-text {
    float: right;
}

p.test span {
    background: url(../images/quotes.png)0px 0px no-repeat;
    width: 25px;
    height: 14px;
    display: inline-block;
}

.test-grid.second {
    margin-top: 1.2em;
}
/*----single-------*/
.content {
    padding: 3em 0;
}

.print-main img {
    border: 6px solid #4285F4;
}

.single {
    margin-top: 2em;
}

p.span {
    color: #798184;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0.5em 0;
}

p.likes {
    font-size: 0.95em;
    margin: 1em 0 1em 0;
    color: #999;
    font-weight: 400;
}

    p.likes a {
        color: #4285F4;
    }

        p.span a:hover, p.likes a:hover {
            text-decoration: underline;
        }

p.span a {
    color: #4285F4;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0.5em 0;
}

#commentform input[type="text"] {
    padding: 8px 15px;
    width: 60%;
    color: #444;
    font-size: 1em;
    border: 1px solid #eee;
    background: #eee;
    outline: none;
    display: block;
}

.leave h4 {
    color: #282828;
    font-size: 1.85em;
    font-weight: 400;
    display: block;
    line-height: 1.25em;
    text-transform: uppercase;
}

#commentform label {
    display: block;
    font-size: 1.2em;
    color: #000;
    font-weight: 400;
}

#commentform span {
    color: #A60000;
    position: absolute;
}

#commentform input[type="text"] {
    padding: 8px 15px;
    width: 100%;
    color: #444;
    font-size: 1em;
    border: 1px solid #eee;
    background: #eee;
    outline: none;
    display: block;
}

#commentform textarea {
    padding: 13px 20px;
    width: 100%;
    color: #444;
    font-size: 0.85em;
    outline: none;
    height: 150px;
    display: block;
    resize: none;
    font-weight: 400;
    border: 1px solid #eee;
    background: #eee;
}

#commentform input[type="submit"] {
    padding: 0.8em 3em;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-appearance: none;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    background: #4285F4;
    box-shadow: inset 0px -2px 11px #003ca0;
    -o-box-shadow: inset 0px -2px 11px #003ca0;
    -moz-box-shadow: inset 0px -2px 11px #003ca0;
    outline: none;
    border: none;
}

.comments1 {
    margin-top: 3em;
}

#commentform p {
    position: relative;
    padding: 8px 0;
    font-size: 1em;
}

.comments-main {
    border: 1px solid #D5D4D4;
    padding: 17px 0px;
    margin: 15px 0px 40px 0;
}

.cmnts-right a {
    padding: 0.6em 1.5em;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    -webkit-appearance: none;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    background: #4285F4;
    box-shadow: inset 0px -2px 11px #003ca0;
    -o-box-shadow: inset 0px -2px 11px #003ca0;
    -moz-box-shadow: inset 0px -2px 11px #003ca0;
    text-transform: uppercase;
}

    .cmnts-right a:hover, #commentform input[type="submit"]:hover {
        opacity: 0.8;
        text-decoration: none;
    }

.cmts-main-right h5, .cmts-main-right a h5 {
    font-size: 1em;
    color: #4e4e4b;
    margin: 0px;
    font-weight: 600;
}

.comments1 h4 {
    color: #282828;
    font-size: 1.85em;
    font-weight: 400;
    display: block;
    line-height: 1.25em;
}

.cmts-main-right p {
    color: #333333;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.9em;
    opacity: 0.6;
    margin: 2px 0 15px 0px;
}

.print-main a h3, .print-main h3 {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4em;
}

p.ptext {
    line-height: 1.8em;
    font-size: 0.95em;
    color: #999;
}

.cmnts-left p {
    font-size: 13px;
    color: #999;
    font-weight: 600;
}

.single-content-left {
    padding: 2.5em;
}

.cmts-main-left img {
    width: 90%;
}
/*-------*/
.print-main {
    position: relative;
}

ul.single-icons li {
    list-style: none;
    display: inline-block;
}

ul.single-icons {
    position: absolute;
    right: 0px;
    top: 449px;
}

    ul.single-icons li i.date2, ul.single-icons li a i.penc {
        width: 42px;
        height: 41px;
        display: inline-block;
        background: url("../images/s-icons.png")-292px -121px no-repeat;
    }

    ul.single-icons li a i.penc {
        background: url("../images/s-icons.png")-242px -122px no-repeat;
    }

.search {
    border: 1px solid #dbdbdb;
    background: none;
    position: relative;
    margin-bottom: 2em;
}

    .search form input[type="text"] {
        padding: 12px 15px;
        font-weight: 400;
        font-size: 13px;
        color: #999;
        border: none;
        outline: none;
        width: 87%;
        background: none;
    }

    .search form input[type="submit"] {
        background: url('../images/search.png')no-repeat 0px 2px;
        width: 20px;
        height: 20px;
        border: none;
        cursor: pointer;
        outline: none;
        position: absolute;
        top: 8px;
        right: 8px;
    }

.right-content h5 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    color: #000;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

.sidebar-bottom h5 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    color: #000;
    margin: 1em 0;
    text-transform: uppercase;
}

.sidebar-bottom ul li, .categories ul li {
    list-style: none;
    display: block;
}

    .sidebar-bottom ul li a, .categories ul li a {
        font-size: 0.95em;
        margin: 0 0 1em 0;
        color: #999;
        line-height: 1.8em;
        text-decoration: none;
        padding-left: 2em;
        background: url(../images/b_arrow.png) no-repeat 0px 6px;
    }

        .sidebar-bottom ul li a:hover, .categories ul li a:hover {
            padding-left: 3em;
        }

.featured ul li {
    display: inline-block;
    width: 48%;
    padding: 4px;
}

.cmnts-left {
    padding: 0;
}

.featured img {
    width: 100%;
}

.featured h4, .categories h4 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    margin: 1em 0;
}
/*-------portfolio----------*/
.head-section h2 {
    font-size: 2.2em;
    color: #000;
    font-weight: 600;
    margin: 0em 0;
}

.portfolio-section {
    padding: 4em 0;
    background: #fff;
}


/*-----features-----*/
.features-section {
    padding: 3em 0 5em 0;
}

.awesome-grids.second {
    margin-top: 2em;
}

.eye, .flag, .msg, .ok, .load {
    width: 100px;
    height: 100px;
    background: url('../images/img-sprite.png') no-repeat 0px 0px;
    display: inline-block;
}

.flat-phone img {
    width: 100%;
}

.msg {
    background: url('../images/img-sprite.png') no-repeat -200px 0px;
}

.flag {
    background: url('../images/img-sprite.png') no-repeat -300px 0px;
}

.ok {
    background: url('../images/img-sprite.png') no-repeat -400px 0px;
}

.load {
    background: url('../images/img-sprite.png') no-repeat -100px 0px;
}

.awesome-grid:hover i.eye, .awesome-grid:hover i.load, .awesome-grid:hover i.ok, .awesome-grid:hover i.flag, .awesome-grid:hover i.msg {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.awesome-grid h4 {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0.5em 0;
}

.awesome-grid p {
    color: 999;
    font-size: 0.95em;
    line-height: 1.8em;
    font-weight: 400;
}

.some {
    padding-top: 4em;
}

    .Awesome-features h3, .some h3 {
        font-size: 2em;
        text-transform: uppercase;
        font-weight: 600;
        margin: 1em 0;
        text-align: center;
    }

    .some h3 {
        margin: 1em 0 2em 0;
    }
/*-------contact-----*/
form {
    padding: 0% 1%;
}

    form li.first, li.second {
        border: none;
        list-style: none;
        margin-bottom: 10px;
        width: 100%;
    }

.icon3 {
    height: 55px;
    width: 55px;
    display: block;
    float: left;
    border-top-left-radius: 0.3em;
    -o-border-top-left-radius: 0.3em;
    -moz-border-top-left-radius: 0.3em;
    -webkit-border-top-left-radius: 0.3em;
    border-border-bottom-left-radius: 0.3em;
    -o-border-bottom-left-radius: 0.3em;
    -moz-border-bottom-left-radius: 0.3em;
    -webkit-border-bottom-left-radius: 0.3em;
}

.user {
    background: url(../images/icons.png) no-repeat 14px 15px #f79d29;
}

.email {
    background: url(../images/icons.png) no-repeat 15px -39px #f79d29;
}

.phone {
    background: url(../images/icons.png) no-repeat 15px -93px #f79d29;
}

.message {
    background: url(../images/msg.png) no-repeat 16px 16px #f79d29;
}

li.first:hover .user {
    background: url(../images/icons.png) no-repeat 14px 15px #DB2048;
}

li.first:hover .email {
    background: url(../images/icons.png) no-repeat 15px -39px #DB2048;
}

li.first:hover .phone {
    background: url(../images/icons.png) no-repeat 15px -93px #DB2048;
}

li.second:hover .message {
    background: url(../images/msg.png) no-repeat 16px 16px #DB2048;
}
/*-----contact------*/
.map {
    padding: 3em 0 1em 0;
}

.contact-section {
    padding: 4em 0;
}

.contact h3 {
    font-size: 2.2em;
    color: #000;
    font-weight: 600;
    margin: 1em 0;
}

.contact p {
    color: #999;
    font-size: 0.95em;
    font-weight: 500;
    line-height: 1.8em;
    margin: 0 auto;
    width: 81%;
}

.contact {
    text-align: center;
}

    .contact input[type="text"], .contact textarea {
        border: 1px solid #DCDCDF;
        color: #000;
        outline: none;
        padding: 0.8em 1em;
        margin-top: 2em;
        background: #EDEDED;
        -webkit-appearance: none;
        width: 33%;
        font-weight: 400;
        font-size: 16px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
        border-radius: 0.3em;
        -o-border-radius: 0.3em;
        -moz-border-radius: 0.3em;
        -weblit-border-radius: 0.3em;
    }

    .contact textarea {
        resize: none;
        height: 250px;
        margin: 1.5em 0 2.5em;
        width: 100%;
    }

.contac form input[type="text"]:nth-child(2) {
    margin: 0 0.092em;
}

.contact input[type="submit"] {
    padding: 1em 3em;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    -webkit-appearance: none;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    background: #4285F4;
    border: none;
    outline: none;
    box-shadow: inset 0px -2px 11px #003ca0;
    -webkit-box-shadow: inset 0px -2px 11px #003ca0;
    -o-box-shadow: inset 0px -2px 11px #003ca0;
    -moz-box-shadow: inset 0px -2px 11px #003ca0;
}

    .contact input[type="submit"]:hover {
        opacity: 0.8;
    }

.map iframe {
    width: 100%;
    height: 300px;
}

/*----footer--------*/
.footer-section {
    padding: 1em 0;
    background: #373737;
}

.footer-grid p, p.sub {
    font-size: 0.95em;
    line-height: 1.8em;
    color: #A1A3AB;
}

.footer-grids {
    padding: 1em 0;
}

p.sub {
    margin-top: 1.3em;
}

ul.tag li {
    display: inline-block;
    list-style: none;
    margin: 15px 0px 6px -1px;
}

    ul.tag li a {
        padding: 0.8em 0.8em;
        background: #232323;
        color: #A1A3AB;
        font-size: 0.9em;
    }

        ul.tag li a:hover {
            text-decoration: none;
            opacity: 0.7;
        }

.flickr-grid a img {
    width: 100%;
}

.flickr-grid {
    float: left;
    width: 32%;
    margin: 0 0.1em .2em;
}

.footer-grids h4 {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.border2 {
    border-bottom: 2px ridge rgba(72, 72, 76, 0.88);
    padding: 0.5em 0 0.5em 0;
    width: 52%;
    margin-bottom: 1.3em;
}

ul.tw li {
    display: block;
    margin-bottom: 0.5em;
    font-size: 0.95em;
    line-height: 1.8em;
    color: #fff;
}

ul.tw p {
    float: left;
}

a i.square-3 {
    width: 20px;
    height: 20px;
    background: url("../images/tw.png") no-repeat 0px 0px;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}

.icon-text p {
    color: #A1A3AB;
    font-size: 0.95em;
    line-height: 1.6em;
}

.icon-3-square {
    float: left;
    width: 10%;
    margin-right: 2%;
}

.icon-text {
    float: left;
    width: 86%;
}

    .icon-text h5 {
        color: #fff;
        font-size: 0.95em;
        margin: 0.7em 0;
        text-transform: uppercase;
        font-weight: 600;
    }

    .icon-text a {
        color: #D7D7D8;
    }
/*----copyright-------*/
.copyright {
    padding: 1em 0;
    background: #232323;
}

p.write {
    float: right;
    color: #fff;
    font-size: 0.98em;
    margin-top: 4px;
}

    p.write a {
        color: #4285F4;
    }

.logo2 {
    float: left;
}
/*----top-move------*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 40px;
    height: 22px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}
/*--Starts-Responsive--*/
/******** SAP ************/
.sap_tabs {
    clear: both;
    padding: 0em 0 0em;
}

.tab_box {
    background: #fd926d;
    padding: 2em;
}

.top1 {
    margin-top: 2%;
}

.resp-tabs-list {
    list-style: none;
    margin: 3em 0;
    text-align: center;
}

.resp-tab-item {
    color: #222;
    font-size: 17px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
    margin: 0 0.5em 0;
}

.resp-tab-active {
    text-shadow: none;
    color: #E8270D;
}

.resp-tabs-container {
    padding: 0px;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.img-top {
    margin-bottom: 0px;
}

.img-top {
    padding: 0 0px !important;
}

    .img-top a img {
        position: relative;
    }

.link-top {
    position: absolute;
    top: 0%;
    text-align: center;
    width: 100%;
    background: rgba(148, 22, 6, 0.57);
    height: 100%;
    padding: 5.5em 0 0;
    display: none;
}

i.link {
    background: url(../images/plus.png)no-repeat 0px 0px;
    width: 26px;
    height: 26px;
    display: inline-block;
}

.img-top:hover .link-top {
    display: block;
}

.img-top img {
    width: 100%;
}

@media (max-width:1440px) {
    .left-grid-1 h1, .left-grid-1 h2, .left-grid-1 h3 {
        width: 71%;
        font-size: 3.5em;
    }

    .left-grid-1 h2 {
        width: 60%;
        font-size: 3.5em;
        border: none;
    }

    .left-grid-1 {
        margin-top: 4em;
        float: left;
    }

    div#portfoliolist {
        min-height: 570px;
    }

    .blog-section h3 {
        position: absolute;
        left: 9.3%;
        top: -3%;
    }

    .port-section h2 {
        position: absolute;
        left: 9.3%;
    }

    .testimonal h3 {
        position: absolute;
        left: 0%;
        top: -17%;
    }

    .stories span {
        width: 199px;
        height: 131px;
    }

    .logo {
        float: left;
        width: 25%;
        margin-top: 1.35em;
    }

    .stories span:before {
        content: '';
        position: absolute;
        top: 14%;
        left: -12%;
        width: 0;
        height: 0;
        border-right: 137px solid #eee;
        border-top: 94px solid transparent;
        transform: rotate(-269deg);
        -webkit-transform: rotate(-269deg);
    }
}

@media (min-width:769px) {
    .nav li:last-child a {
        margin-left: 30px;
    }

    .h_menu4 {
        margin-left: 115px;
    }
}

@media (max-width:1366px) {
    .port-section h2 {
        position: absolute;
        left: 7.3%;
    }

    .blog-section h3 {
        position: absolute;
        left: 7.3%;
        top: -3%;
    }

    .testimonal h3 {
        position: absolute;
        left: 0%;
        top: -17%;
    }
}

@media (max-width:1280px) {
    .Awesome-features h3, .some h3 {
        font-size: 1.8em;
    }

    .port-section h2 {
        position: absolute;
        left: 4.3%;
    }

    .blog-section h3 {
        position: absolute;
        left: 4.3%;
        top: -3%;
    }

    .testimonal h3 {
        position: absolute;
        left: 0%;
        top: -17%;
    }
}

@media (max-width:1080px) {
    .link-top {
        padding: 4.5em 0 0;
    }
}

@media (max-width:1024px) {
    .slider-bg {
        background: url("../images/bg.jpg") no-repeat 0px 0px;
        padding: 6em 0 0 0;
        min-height: 450px;
    }

    .logo {
        margin-right: 0;
        width: 18%;
    }

    .nav li a {
        display: block;
        padding: 29.5px 22px;
    }

    .services-section-grid, .services-section-grid.lost {
        background: url(../images/ser-bg.png)no-repeat 100% 100%;
        width: 48%;
        margin-right: 2%;
        background-size: cover;
        -o- background-size:cover;
        -webkit- background-size:cover;
        -moz- background-size:cover;
        min-height: 162px;
    }

    i.rocket, i.arrow, i.download, i.plan {
        width: 81px;
        height: 151px;
        background: url('../images/s-icons.png') no-repeat 26px 60px #4285F4;
        display: inline-block;
    }

    i.arrow {
        background: url('../images/s-icons.png') no-repeat 28px -57px #4285F4;
    }

    i.download {
        background: url('../images/s-icons.png') no-repeat -57px -55px #4285F4;
    }

    i.plan {
        background: url('../images/s-icons.png') no-repeat -60px 60px #4285F4;
    }

    .service-icon-heading {
        float: left;
        width: 80%;
        padding: 2em 1em;
    }

    .services-section-grid.lost {
        display: none;
    }

    .mid-text h3 {
        font-size: 0.96em;
    }

    .mid-button a {
        padding: 1em 1em 1em 3em;
        font-size: 1em;
        background: url(../images/windows.png) no-repeat 6px 8px #4285F4;
    }

    .stories span {
        width: 150px;
        height: 148px;
        top: -42px;
        padding: 2.5em 1em 1em 5em;
    }

    .test-text p {
        font-size: 0.9em;
    }

    .stories span:before {
        top: 21%;
        left: -21%;
        width: 0;
        height: 0;
        border-right: 150px solid #eee;
        border-top: 85px solid transparent;
    }

    .test-text h4 {
        font-size: 0.95em;
    }

    .left-img img {
        width: 95%;
    }

    .port-section h2 {
        position: absolute;
        left: 3.3%;
    }

    .blog-section h3 {
        position: absolute;
        left: 3.3%;
        top: -3%;
    }

    .testimonal h3 {
        position: absolute;
        left: 0%;
        top: -19%;
    }

    ul.blog-icons {
        position: absolute;
        right: 15px;
        top: 182px;
    }

    .flickr-grid {
        float: left;
        width: 31%;
        margin: 0 0.1em .2em;
    }

    .text a h3 {
        font-size: 1.03em;
    }

    .text p {
        font-size: 0.93em;
        line-height: 1.6em;
    }

    .box_type {
        background: #4285F4;
        padding: 5px 21px;
        position: absolute;
        bottom: 130px;
    }

    .box-hover, .port-grid:hover .box-hover {
        bottom: 125px;
    }

    #portfoliolist .portfolio {
        width: 33.3%;
    }

    ul.single-icons {
        right: 0px;
        top: 372px;
    }

    .comments1 h4, .leave h4 {
        font-size: 1.5em;
    }

    #slider img {
        width: 90%;
    }

    .left-grid-1 {
        margin-top: 0em;
        float: left;
    }

    ul.callbacks_tabs.callbacks1_tabs {
        position: absolute;
        bottom: 5.3%;
        z-index: 999;
        left: -77%;
        display: block;
    }

    .left-grid-1 h1, .left-grid-1 h2, .left-grid-1 h3 {
        width: 69%;
        font-size: 3.3em;
    }

    .left-grid-1 h2 {
        width: 57%;
        font-size: 3.3em;
        border: none;
    }

    .stories span {
        position: absolute;
        width: 165px;
        height: 148px;
        top: -42px;
    }
}

@media (max-width:991px) {
    .img-top {
        margin-bottom: 0px;
        float: left;
        width: 25%;
    }

    .link-top {
        padding: 3.3em 0 0;
    }
}

@media (max-width:768px) {
    .nav li:last-child a {
        display: block;
        padding: 10.5px 10px;
        text-align: center;
        border: none;
        margin-top: 0px;
    }

    .nav > li:last-child > a:hover {
        border-bottom: none;
        border-left: none;
        border-right: none;
        color: #4285f4;
        background: -moz-linear-gradient(top, rgba(225,225,225,0.6) 0%, rgba(225,225,225,0.6) 35%, rgba(225,225,225,0.56) 46%, rgba(225,225,225,0.48) 54%, rgba(225,225,225,0.2) 72%, rgba(225,225,225,0.09) 81%, rgba(225,225,225,0.04) 86%, rgba(225,225,225,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,225,225,0.6)), color-stop(35%,rgba(225,225,225,0.6)), color-stop(46%,rgba(225,225,225,0.56)), color-stop(54%,rgba(225,225,225,0.48)), color-stop(72%,rgba(225,225,225,0.2)), color-stop(81%,rgba(225,225,225,0.09)), color-stop(86%,rgba(225,225,225,0.04)), color-stop(100%,rgba(225,225,225,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(225,225,225,0.6) 0%,rgba(225,225,225,0.6) 35%,rgba(225,225,225,0.56) 46%,rgba(225,225,225,0.48) 54%,rgba(225,225,225,0.2) 72%,rgba(225,225,225,0.09) 81%,rgba(225,225,225,0.04) 86%,rgba(225,225,225,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(225,225,225,0.6) 0%,rgba(225,225,225,0.6) 35%,rgba(225,225,225,0.56) 46%,rgba(225,225,225,0.48) 54%,rgba(225,225,225,0.2) 72%,rgba(225,225,225,0.09) 81%,rgba(225,225,225,0.04) 86%,rgba(225,225,225,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(225,225,225,0.6) 0%,rgba(225,225,225,0.6) 35%,rgba(225,225,225,0.56) 46%,rgba(225,225,225,0.48) 54%,rgba(225,225,225,0.2) 72%,rgba(225,225,225,0.09) 81%,rgba(225,225,225,0.04) 86%,rgba(225,225,225,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(225,225,225,0.6) 0%,rgba(225,225,225,0.6) 35%,rgba(225,225,225,0.56) 46%,rgba(225,225,225,0.48) 54%,rgba(225,225,225,0.2) 72%,rgba(225,225,225,0.09) 81%,rgba(225,225,225,0.04) 86%,rgba(225,225,225,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99e1e1e1', endColorstr='#00e1e1e1',GradientType=0 ); /* IE6-9 */
        border-top: 4px solid #4285F4;
    }

    .slider-bg {
        background: url("../images/bg.jpg") no-repeat 0px 0px;
        padding: 4.5em 0 0 0;
        min-height: 330px;
    }

    .toggleMenu {
        background: #4285F4;
        text-align: center;
        font-weight: 600;
        font-size: 1.6em;
        color: #fff;
        padding: 0.3em 0;
        width: 100%;
        text-transform: uppercase;
        margin-top: 0.4em;
    }

    a.toggleMenu:hover, a.toggleMenu.active {
        text-decoration: none;
        color: #fff;
    }

    .logo {
        width: 100%;
        margin-top: 1em;
    }

    .nav li a {
        display: block;
        padding: 22.5px 21px;
        text-align: center;
    }

    .left-grid-1 {
        margin-top: 0em;
        float: left;
        width: 40%;
    }

    .right-grid-1 {
        float: right;
        width: 58%;
    }

    .left-grid-1 h1, .left-grid-1 h2, .left-grid-1 h3 {
        width: 75%;
        font-size: 2.7em;
    }

    .left-grid-1 h2 {
        width: 57%;
        font-size: 2.5em;
        border: none;
    }

    .text a h3 {
        font-size: 1em;
    }

    .callbacks_tabs a:after {
        width: 38px;
        height: 17px;
    }

    ul.callbacks_tabs.callbacks1_tabs {
        position: absolute;
        bottom: 2.3%;
        z-index: 999;
        left: -77%;
        display: block;
    }

    ul.callbacks_tabs.callbacks1_tabs {
        position: absolute;
        bottom: 2.3%;
        z-index: 999;
        left: -80%;
        display: block;
    }

    #slider img {
        width: 100%;
    }

    .services-section-grid, .services-section-grid.lost {
        background: url(../images/ser-bg.png)no-repeat 100% 100%;
        width: 48%;
        margin-right: 2%;
        background-size: cover;
        min-height: 106px;
        float: left;
    }

    i.rocket, i.arrow, i.download, i.plan {
        width: 64px;
        height: 107px;
        background: url('../images/s-icons.png') no-repeat 18px 35px #4285F4;
        display: inline-block;
    }

    i.arrow {
        background: url('../images/s-icons.png') no-repeat 19px -82px #4285F4;
    }

    i.download {
        background: url('../images/s-icons.png') no-repeat -64px -79px #4285F4;
    }

    i.plan {
        background: url('../images/s-icons.png') no-repeat -69px 33px #4285F4;
    }

    .service-icon-heading {
        float: left;
        width: 80%;
        padding: 1em 1em;
    }

    .services-section-grid p {
        width: 81%;
        overflow: hidden;
        height: 40px;
    }

    .service-icon-heading h4 {
        font-size: 1.2em;
        padding: 0.4em 0;
    }

    .serve-grids.two {
        margin-top: 1.5em;
    }

    .mid-text {
        float: left;
        width: 74%;
        margin-right: 1%;
    }

        .mid-text h3 {
            font-size: 0.96em;
            line-height: 1.6em;
        }

    .mid-top {
        padding: 2em 1em;
    }

    .mid-button {
        margin-top: 2.25em;
        width: 22%;
    }

    .port-section h2 {
        left: 4.3%;
        top: -3.5%;
    }

    .port-grid {
        width: 32.2%;
        float: left;
        margin-right: 1.0%;
        padding: 1em 1em;
    }

        .port-grid.lost {
            margin-right: 0%;
            display: none;
        }

    .bottom-text {
        float: left;
        width: 74%;
        margin-right: 1%;
    }

    .story {
        float: right;
        width: 25%;
    }

    .bottom-top {
        padding: 2em 1em;
    }

    .bottom-text h3 {
        font-size: 1.15em;
        line-height: 1.6em;
    }

    .stories span {
        position: absolute;
        width: 158px;
        height: 172px;
        top: -29px;
    }

        .stories span:before {
            top: 18%;
            left: -19.9%;
            width: 0;
            height: 0;
            border-right: 172px solid #eee;
            border-top: 113px solid transparent;
        }

    .blog-section h3 {
        left: 5.3%;
        top: -1.8%;
    }

    .left-img {
        width: 48%;
        float: left;
        margin: 0 1%;
    }

        .left-img.two {
            margin-right: 0;
        }

        .left-img img {
            width: 100%;
        }

    ul.blog-icons {
        right: -1px;
        top: 198px;
    }

    ul.single-icons {
        right: 0px;
        top: 351px;
    }

    .testimonal {
        float: right;
        margin-top: 5em;
    }

    .test-img {
        float: left;
        padding: 0;
        width: 19%;
    }

    .test-text {
        float: left;
        width: 52%;
    }

    .cmts-main-left {
        float: left;
        width: 30%;
    }

    .cmts-main-right {
        float: right;
        width: 70%;
    }

    .footer-grid.tags, .footer-grid.tweet, .footer-grid.flickr {
        margin-top: 1.5em;
    }

    .icon-3-square {
        width: 3%;
        margin-right: 2%;
    }

    .cmnts-left {
        padding: 0;
        float: left;
    }

    .cmnts-right {
        float: right;
    }

    .text h3 {
        font-size: 1em;
    }

    .box_type {
        padding: 5px 21px;
        bottom: 149px;
    }

    .box-hover {
        bottom: 144px;
        right: 14px;
    }

    .port-grid:hover .box-hover {
        bottom: 144px;
        right: 14px;
    }

    .serve-grids.two {
        margin-top: 0.5em;
    }

    .contact p {
        font-size: 0.95em;
        margin: 0 auto;
        width: 94%;
    }

    .contact input[type="text"], .contact textarea {
        padding: 0.8em 1em;
        margin-top: 1em;
        width: 32%;
        font-size: 15px;
    }

    .service-section {
        padding: 3em 0em;
    }

    .testimonal h3 {
        left: 1%;
        top: -14%;
    }

    .contac form input[type="text"]:nth-child(2) {
        margin: 0 0.7em;
    }

    .contact textarea {
        padding: 0.8em 1em;
        margin-top: 1em;
        width: 97%;
        font-size: 15px;
        height: 180px;
    }

    .contact-section, .portfolio-section {
        padding: 2em 0;
    }

    p.sub {
        margin-top: 0.5em;
    }

    .nav li a {
        display: block;
        padding: 10.5px 10px;
        text-align: center;
    }

    .contact h3 {
        font-size: 2em;
    }

    .flickr-grid {
        float: left;
        width: 12%;
        margin: 0 0.1em .2em;
    }

    .featured ul li {
        display: inline-block;
        width: 25%;
        padding: 4px;
    }

    .serve-grids.two {
        margin-top: 1.2em;
    }

    .link-top {
        padding: 3em 0 0;
    }
}

@media (max-width:640px) {
    .slider-bg {
        background: url("../images/bg.jpg") no-repeat 0px 0px;
        padding: 4.5em 0 0 0;
        min-height: 300px;
    }

    #portfoliolist .portfolio {
        width: 49.3%;
    }

    .left-grid-1 h1, .left-grid-1 h2, .left-grid-1 h3 {
        width: 90%;
        font-size: 2.7em;
    }

    .left-grid-1 h2 {
        width: 67%;
        font-size: 2.5em;
        border: none;
    }

    ul.callbacks_tabs.callbacks1_tabs {
        bottom: -8.7%;
        z-index: 999;
        left: -82%;
    }

    i.rocket, i.plan, i.arrow, i.download {
        width: 50px;
        height: 89px;
        background: url('../images/s-icons.png') no-repeat 12px 26px #4285F4;
    }

    i.arrow {
        background: url('../images/s-icons.png') no-repeat 13px -93px #4285F4;
    }

    i.download {
        background: url('../images/s-icons.png') no-repeat -70px -88px #4285F4;
    }

    i.plan {
        background: url('../images/s-icons.png') no-repeat -74px 24px #4285F4;
    }

    .service-icon-heading h4 {
        font-size: 1.1em;
        padding: 0.4em 0;
    }

    .service-icon-heading {
        width: 78%;
        padding: 0.6em 0.6em;
    }

    .service-section {
        padding: 2em 0em;
    }

    .mid-button a {
        padding: 1em 1em 1em 2em;
        font-size: 1em;
        background: url(../images/windows.png) no-repeat 1px 8px #4285F4;
    }

    .services-section-grid p {
        width: 100%;
        overflow: hidden;
        height: 40px;
    }

    .port-grid {
        width: 48.2%;
        float: left;
        margin-right: 1.0%;
        margin-bottom: 0.5em;
        padding: 1em 1em;
    }

    .services-section-grid, .services-section-grid.lost {
        background: url(../images/ser-bg.png)no-repeat 100% 100%;
        width: 48%;
        margin-right: 2%;
        background-size: cover;
        min-height: 96px;
        float: left;
    }

    .port-grid.lost {
        margin-right: 0%;
        display: block;
    }

    .port-section h2 {
        left: 3.3%;
        top: -1.5%;
    }

    .port-grid:nth-child(2) {
        margin: 0px 0px 8px 0px;
    }

    .stories span {
        width: 133px;
        height: 173px;
        top: -29px;
        padding: 2.5em 1em 1em 4em;
    }

        .stories span:before {
            top: 18.9%;
            left: -27.9%;
            width: 0;
            height: 0;
            border-right: 176px solid #eee;
            border-top: 108px solid transparent;
        }

    .box_type {
        padding: 5px 21px;
        bottom: 127px;
    }

    .box-hover, .port-grid:hover .box-hover {
        bottom: 123px;
        right: 14px;
    }

    .flickr ul li:nth-child(6) {
        display: none;
    }

    p.write {
        font-size: 0.95em;
    }

    ul.single-icons {
        right: 0px;
        top: 319px;
    }

    .contact p {
        font-size: 0.95em;
        margin: 0 auto;
        width: 83%;
    }

    .blog-section h3 {
        left: 2.9%;
        top: -1.8%;
    }

    .testimonal h3 {
        left: 0.9%;
        top: -14.8%;
    }

    .left-img a h4 {
        font-size: 1em;
    }

    ul.blog-icons {
        right: -1px;
        top: 163px;
    }

    .mid-text {
        float: left;
        width: 71%;
    }

    .mid-button {
        margin-top: 3.25em;
        width: 26%;
    }

    .head-section h2 {
        font-size: 1.8em;
    }

    #filters li span {
        font-size: 1em;
    }

    .contact input[type="submit"] {
        padding: 1em 3em;
        font-size: 1em;
    }

    .cmts-main-left img {
        width: 73%;
    }

    .print-main a h3, .print-main h3 {
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .some {
        padding-top: 2em;
    }

        .Awesome-features h3, .some h3 {
            font-size: 1.65em;
        }

    .flickr-grid {
        float: left;
        width: 15%;
        margin: 0 0.1em .2em;
    }

    .resp-tabs-list {
        margin: 2.2em 0;
    }

    .link-top {
        padding: 2.5em 0 0;
    }
}

@media (max-width:480px) {
    .slider-bg {
        background: url("../images/bg.jpg") no-repeat 0px 0px;
        padding: 3.5em 0 0 0;
        min-height: 224px;
    }

    .left-grid-1 {
        margin-top: 0em;
        float: left;
        width: 40%;
        padding: 0;
    }

    .right-grid-1 {
        float: right;
        width: 58%;
        padding: 0;
    }

    .mid-text {
        float: none;
        width: 100%;
    }

    .mid-button {
        margin: 2em 1em 1em 1em;
        width: 100%;
        float: none;
    }

    .mid-section {
        padding: 2em 0;
    }

    .port-grid {
        width: 100%;
        float: left;
        margin-right: 0%;
        margin-bottom: 0.5em;
    }

        .port-grid.lost {
            margin-right: 0%;
            display: none;
        }

    .left-img {
        width: 100%;
        margin: 0 0% 1% 0;
    }

    ul.blog-icons {
        right: -1px;
        top: 261px;
    }

    .logo2 {
        float: none;
        text-align: center;
    }

    p.write {
        font-size: 0.95em;
        float: none;
        margin-top: 10px;
        text-align: center;
    }

    .bottom-text h3 {
        font-size: 1.15em;
        overflow: hidden;
        height: 29px;
    }

    .bottom-text p {
        color: #999;
        font-size: 0.95em;
        overflow: hidden;
        height: 37px;
    }

    .stories span {
        width: 92px;
        height: 135px;
        top: -29px;
        padding: 2.5em 1em 1em 3em;
    }

        .stories span:before {
            top: 33.5%;
            left: -55%;
            width: 0;
            height: 0;
            border-right: 137px solid #eee;
            border-top: 44px solid transparent;
            transform: rotate(-268deg);
            -webkit-transform: rotate(-268deg);
        }

    .bottom-section {
        padding: 2em 0;
    }

    .port-section {
        padding: 2.5em 0 3em 0;
    }

    .box_type {
        padding: 5px 21px;
        bottom: 110px;
    }

    .port-section h2 {
        left: 4.3%;
        top: -1%;
    }

    .some h3 {
        margin: 0em 0 1em 0;
    }

    .Awesome-features h3, .some h3 {
        font-size: 1.4em;
    }

    .box-hover, .port-grid:hover .box-hover {
        bottom: 105px;
        right: 14px;
    }

    .blog-section h3 {
        left: 4.9%;
        top: -0.8%;
    }

    .testimonal h3 {
        left: 0.9%;
        top: -18.8%;
    }

    .services-section-grid {
        background: url(../images/ser-bg.png)no-repeat 0px 0px;
        padding: 0;
        width: 90%;
        float: none;
        min-height: 137px;
    }

        .services-section-grid p {
            width: 100%;
            overflow: hidden;
            height: 60px;
        }

    i.rocket, i.plan, i.arrow, i.download {
        width: 59px;
        height: 121px;
        background: url('../images/s-icons.png') no-repeat 16px 43px #4285F4;
        display: inline-block;
    }

    i.arrow {
        background: url('../images/s-icons.png') no-repeat 18px -71px #4285F4;
    }

    i.download {
        background: url('../images/s-icons.png') no-repeat -67px -73px #4285F4;
    }

    i.plan {
        background: url('../images/s-icons.png') no-repeat -71px 36px #4285F4;
    }

    .left-grid-1 h1, .left-grid-1 h2, .left-grid-1 h3 {
        width: 90%;
        font-size: 1.8em;
    }

    .left-grid-1 h2 {
        width: 70%;
        font-size: 1.8em;
        border: none;
    }

    .callbacks_tabs a:after {
        width: 24px;
        height: 9px;
        margin: 0;
    }

    ul.callbacks_tabs.callbacks1_tabs {
        bottom: -1.7%;
        z-index: 999;
        left: -76%;
    }

    .print-main a h3, .print-main h3 {
        font-size: 1.1em;
        line-height: 1.5em;
    }

    ul.single-icons {
        right: 0px;
        top: 259px;
    }

    .cmts-main-right p {
        font-size: 0.8em;
        opacity: 0.6;
        margin: 2px 0 0px 0px;
        overflow: hidden;
        height: 46px;
    }

    .cmnts-right a {
        padding: 0.6em 1em;
        font-size: 1em;
    }

    .cmnts-right a {
        padding: 0.5em 1em;
        font-size: 0.8em;
    }

    #commentform label {
        font-size: 1em;
    }

    #commentform input[type="submit"] {
        padding: 0.8em 3em;
        color: #fff;
        font-size: 1em;
    }

    .cmnts-right {
        float: right;
        margin-top: 0.5em;
    }

    .comments1 {
        margin-top: 1em;
    }

    p.ptext {
        line-height: 1.8em;
        font-size: 0.95em;
        color: #999;
        overflow: hidden;
        height: 72px;
    }

    .contact input[type="text"], .contact textarea {
        padding: 0.6em 1em;
        margin-top: 1em;
        width: 32%;
        font-size: 13px;
    }

    .contact textarea {
        padding: 0.6em 1em;
        margin-top: 1em;
        width: 97%;
        font-size: 13px;
        height: 139px;
        margin: 1.5em 0 1em;
    }

    .map iframe {
        width: 100%;
        height: 179px;
    }

    #filters li {
        padding: 0 0.5em;
    }

        #filters li span {
            font-size: 0.9em;
        }

    .contact h3 {
        font-size: 1.6em;
    }

    .flickr-grid {
        float: left;
        width: 25%;
        margin: 0 0.1em .2em;
    }

    .features-section {
        padding: 0em 0 1em 0;
    }

    .single {
        margin-top: 1em;
    }

    .cmts-main-left img {
        width: 100%;
    }

    a.read {
        margin-bottom: 1em;
    }

    .comments1 h4, .leave h4 {
        font-size: 1.3em;
    }

    .icon-3-square {
        width: 7%;
        margin-right: 2%;
    }

    div#portfoliolist {
        min-height: 527px;
    }

    .contact p {
        font-size: 0.95em;
        margin: 1em auto;
        width: 100%;
    }

    .img-top {
        margin-bottom: 0px;
        float: left;
        width: 50%;
    }

    .link-top {
        padding: 3.8em 0 0;
    }

    .resp-tab-item {
        font-size: 15px;
    }
}

@media (max-width:414px) {
    .link-top {
        padding: 3.3em 0 0;
    }
}

@media (max-width:320px) {

    .left-grid-1 h1, .left-grid-1 h2, .left-grid-1 h3 {
        width: 100%;
        font-size: 1.3em;
    }

    .left-grid-1 h2 {
        width: 85%;
        font-size: 1.3em;
        border: none;
    }

    .slider-bg {
        background: url("../images/bg.jpg") no-repeat 0px 0px;
        padding: 2.2em 0 0 0;
        min-height: 153px;
    }

    ul.callbacks_tabs.callbacks1_tabs {
        bottom: -13.7%;
        left: -82%;
    }

    .callbacks_tabs a:after {
        width: 17px;
        height: 6px;
        margin: 0;
    }

    .contact-section, .portfolio-section {
        padding: 1em 0;
    }

    .contact input[type="text"], .contact textarea {
        padding: 0.6em 1em;
        margin-top: 0.4em;
        width: 100%;
        font-size: 13px;
    }

    .contact textarea {
        padding: 0.6em 1em;
        margin-top: 0.71em;
        width: 100%;
        font-size: 13px;
        height: 122px;
    }

    .contact input[type="submit"] {
        padding: 1em 3em;
        font-size: 0.9em;
    }

    .service-icon-heading h4 {
        font-size: 1em;
        padding: 0.4em 0;
    }

    .services-section-grid p {
        width: 94%;
        overflow: hidden;
        height: 35px;
    }

    i.rocket, i.plan, i.arrow, i.download {
        width: 59px;
        height: 86px;
        background: url('../images/s-icons.png') no-repeat 16px 22px #4285F4;
        display: inline-block;
    }

    .service-icon {
        float: left;
        width: 25%;
        margin-right: 2%;
    }

    .service-icon-heading {
        float: left;
        width: 65%;
        padding: 0.6em 0.6em;
    }

    .toggleMenu {
        font-size: 1.3em;
    }

    .map iframe {
        width: 100%;
        height: 126px;
    }

    .services-section-grid {
        background: url(../images/ser-bg.png)no-repeat 100% 100%;
        padding: 0;
        width: 100%;
        float: none;
        min-height: 95px;
        margin: 1em 0;
    }

    i.arrow {
        background: url('../images/s-icons.png') no-repeat 18px -95px #4285F4;
    }

    i.download {
        background: url('../images/s-icons.png') no-repeat -67px -89px #4285F4;
    }

    i.plan {
        background: url('../images/s-icons.png') no-repeat -71px 21px #4285F4;
    }

    .mid-top {
        padding: 2em 0em;
    }

    .box_type {
        padding: 5px 21px;
        bottom: 129px;
    }

    .box-hover, .port-grid:hover .box-hover {
        bottom: 124px;
        right: 13px;
    }

    .left-img a h4 {
        font-size: 1em;
    }

    ul.blog-icons {
        right: -2px;
        top: 161px;
    }

    .test-text {
        float: left;
        width: 80%;
    }

    .blog-section h3 {
        left: 4.9%;
        top: -1.3%;
        font-size: 1.2em;
    }

    .testimonal h3 {
        left: -0.1%;
        top: -15.8%;
        font-size: 1.2em;
    }

    .test-text h4 {
        font-size: 0.8em;
    }

    p.test {
        font-size: 0.87em;
    }

    .left-img p {
        font-size: 0.9em;
    }

    .flickr ul li :nth-child(4) {
        display: none;
    }

    .serve-grids.two {
        margin-top: 0em;
    }

    .services-section-grid.act {
        margin: 0 0 1em 0;
    }

    .stories span {
        width: 59px;
        height: 95px;
        top: -15px;
        padding: 1em 0.5em 0em 1.3em;
    }

        .stories span:before {
            top: 23.5%;
            left: -51.9%;
            width: 0;
            height: 0;
            border-right: 100px solid #eee;
            border-top: 47px solid transparent;
            transform: rotate(-268deg);
            -webkit-transform: rotate(-268deg);
        }

    .port-section h2 {
        left: 4.3%;
        top: -1.2%;
        font-size: 1.2em;
    }

    .bottom-top {
        padding: 1em 1em;
    }

    .bottom-text h3 {
        font-size: 1.1em;
        overflow: hidden;
        height: 18px;
    }

    .content {
        padding: 1em 0;
    }

    p.likes {
        font-size: 0.9em;
    }

    .print-main a h3, .print-main h3 {
        font-size: 0.9em;
    }

    p.span {
        color: #798184;
        font-size: 1em;
    }

    .footer-grid p, p.sub {
        font-size: 0.9em;
    }

    .footer-grids h4 {
        font-size: 1.15em;
    }

    .icon-text h5 {
        font-size: 0.8em;
    }

    .mid-button a {
        padding: 0.8em 1em 0.8em 3em;
        font-size: 0.9em;
        background: url(../images/windows.png) no-repeat 5px 4px #4285F4;
    }

    .contact h3 {
        font-size: 1.2em;
    }

    p.write {
        font-size: 0.9em;
        line-height: 1.6em;
    }

    .Awesome-features h3, .some h3 {
        font-size: 1.17em;
        line-height: 1.5em;
    }

    .head-section h2 {
        font-size: 1.2em;
    }

    #filters li {
        padding: 0 0em;
    }

    #filters li {
        padding: 0 0em;
    }

    .awesome-grid h4 {
        text-transform: uppercase;
        font-weight: 600;
        margin: 0.5em 0;
        font-size: 1em;
    }

    #filters li span {
        font-size: 0.7em;
    }

    .service-section {
        padding: 1em 0em;
    }

    .port-section {
        padding: 2em 0 2em 0;
    }

    .border2 {
        margin-bottom: 0.5em;
    }

    .icon-3-square {
        width: 9%;
    }

    ul.single-icons {
        right: 0px;
        top: 198px;
    }

    #commentform p {
        padding: 3px 0;
    }

    .comments1 h4, .leave h4 {
        font-size: 1.2em;
    }

    #commentform input[type="submit"] {
        padding: 0.6em 2em;
    }

    .cmnts-left p {
        font-size: 0.7em;
        height: 26px;
    }

    .cmnts-right {
        float: left;
        padding: 0;
    }

    .mid-text h3 {
        font-size: 0.9em;
    }

    #commentform textarea {
        height: 110px;
    }

    .left-grid-1 {
        margin-top: 0em;
        float: left;
        width: 37%;
        padding: 0;
    }

    .right-grid-1 {
        float: right;
        width: 56%;
        padding: 0;
    }

    h4.stories img {
        width: 79%;
        margin: 0.2em;
    }

    .bottom-text {
        width: 74%;
        padding: 0;
    }

    .testimonal {
        float: right;
        margin-top: 3em;
        padding: 0;
    }

    .footer-grid {
        padding: 0;
        margin-bottom: 2em;
    }

    .resp-tab-item {
        font-size: 13px;
    }

    .resp-tab-item {
        margin: 0 3px;
    }

    .link-top {
        padding: 2.2em 0 0;
    }

    .resp-tabs-list {
        margin: 1.8em 0;
    }
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.c-blue {
    color: #4285f4;
}

.c-red {
    color: #ff0000;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.form-control {
    border-radius: 0px;
}

.nav-tabs {
    list-style-type: none;
    border: 0px;
}

.m-t-50 {
    margin-top: 50px;
}

.nav-tabs li a {
    padding: 5px 20px;
    text-decoration: none;
    border-color: #ddd;
    border-bottom: 0px;
    color: #7d7d7d;
}

.nav-tabs > li > a:hover {
    border-color: #4294f6;
    border-bottom: 0px;
    text-decoration: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #4294f6;
    border-color: #4294f6;
    border-bottom: 0px;
}

.bgm-blue {
    background: #4294f6;
}

.c-white {
    color: #fff;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?3rp45p');
    src: url('fonts/icomoon.eot?3rp45p#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?3rp45p') format('truetype'), url('fonts/icomoon.woff?3rp45p') format('woff'), url('fonts/icomoon.svg?3rp45p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-man-with-sunglasses:before {
    content: "\e900";
}

.icon-office-worker-outline:before {
    content: "\e901";
}
