﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card m-b-5">
    <div class="card-header">
        <div class="row">
            <div class=" col-sm-3">
                <h2 class="c-blue">
                    Add Delivery Boy <small id="productDisplay" style="cursor: pointer;">You can add Delivery Boy Details</small>
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h2>Add Delivery Boy Details<small></small></h2>
    </div>

    <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <input type="hidden" id="hdndeliverboyId">
                        <label>Name</label><em>*</em>
                        <input type="text" id="txtDBName" value="" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Area Id</label><em>*</em>
                        <input type="text" id="txtDBAreaId" value="" class="form-control input-mask" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Email Id</label><em>*</em>
                        <input type="text" id="txtDBEmailId" value="" class="form-control input-mask" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Phone Number</label><em>*</em>
                        <input type="text" id="txtDBPhoneNumber" value="" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Alternative Phone Number</label>
                        <input type="text" id="txtAltPhoneNumber" value="" class="form-control input-mask" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Date Of Joining</label><em>*</em>
                        <input type="text" id="txtDBDOJ" value="" class="form-control input-mask hasDatepicker" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Education Details</label><em>*</em>
                        <input type="text" id="txtDBEducationDetails" value="" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Vehicle Number</label><em>*</em>
                        <input type="text" id="txtDBVehicleNumber" value="" class="form-control input-mask" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Dl Number</label><em>*</em>
                        <input type="text" id="txtDBDl" value="" class="form-control input-mask" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Pan Number</label><em>*</em>
                        <input type="text" id="txtDBPanNumber" value="" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Pin Code Id</label><em>*</em>
                        <input type="text" id="txtDBPinCode" value="" class="form-control input-mask" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Vendor Id</label><em>*</em>
                        <input type="text" id="txtDBVendorId" value="" class="form-control input-mask" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Password</label><em>*</em>
                        <input type="password" id="txtDBPassword" value="" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Geo Area Map</label><em>*</em>
                        <input type="text" id="txtDBMap" value="" class="form-control input-mask" placeholder="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Repository File</label><em>*</em>
                        <input type="text" id="txtDBRepositoryFile" value="" class="form-control input-mask" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="btnAddProductDetails" class="btn btn-primary btn-sm waves-effect pull-right">Save</button>
        </div>
    </div>
</div>

