﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<link href="~/css/jquery-ui.css" rel="stylesheet" />*@
<link href="~/vendors/bootgrid/jquery.bootgrid.min.css" rel="stylesheet" />
<script src="~/vendors/bootgrid/jquery.bootgrid.min.js"></script>
@*<script src="~/js/jquery.min.js"></script>*@
<script src="~/js/Custom/DeliveryBoy.js"></script>

<script src="~/js/Custom/AutoComplete.js"></script>

<style type="text/css">
    .pin-border{
    border: 2px #bbb5b8;
    padding-top: 24px;
    padding-bottom: 0px;
    background-color: #bbb5b8;
    border-radius: 11px;
}
.p-l-7{
        padding-left: 7px;
}
</style>
<div class="pm-body clearfix">
    <div class="card">
        <ul class=" tab-nav tn-justified">
            <li id="liAllDeliveryBoyList" class=""><a href="#franchaiseList" aria-controls="AllDeliveryBoyList" role="tab" data-toggle="tab" aria-expanded="false">DeliveryBoy List</a></li>
            <li id="liFranchiseProfile" class=""><a href="#deliveryBoyProfile" aria-controls="DeliveryBoyProfile" role="tab" data-toggle="tab" aria-expanded="false">DeliveryBoy Profile</a></li>
        </ul>
    </div>
    <div class="tab-content p-t-0">
        <div role="tabpanel" class="tab-pane  m-b-10 active" id="franchaiseList">
                        @Html.Partial("~/Views/Shared/_PartialDeliveryBoyDetails.cshtml", "")
        </div>
        <div role="tabpanel" class="tab-pane  m-b-10 " id="deliveryBoyProfile">
            @Html.Partial("~/Views/Shared/_PartialDeliveryBoyProfile.cshtml", "")
        </div>
    </div>
</div>

