﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
        <div class="card-header">
            <h2>Uplaod Product<small>You can upload product details here</small></h2>
        </div>

        <div class="card-body card-padding">
            <form class="row" role="form">
            

                <div class="col-sm-6">
                    <div class="form-group fg-line">
                        <input type="file" id="uploadFile">
                    </div>
                </div>

            

                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary waves-effect" id="btnImportProduct" ng-click="FileUpload();">Import Product</button>
                </div>
            </form>
        </div>
    </div>
   
    <div class="card">
        <div class="card-header">
            <h2>Add Products <small></small></h2>
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <input id="hdnProductId" type="hidden" value="">
                        <label>Product Name</label><em>*</em>
                        <input type="text" id="txtProductName" value="" class="form-control" placeholder="eg: Cybria Technology">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Customer Address</label><em>*</em>
                        <input type="text" id="txtCustomerAddress" value="" class="form-control input-mask" placeholder="eg:test123.com">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Customer Pin</label><em>*</em>
                        <input type="text" id="txtCustomerPin" value="" class="form-control input-mask" placeholder="eg: Bhubaneswar">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Phone Number</label><em>*</em>
                        <input type="text" id="txtCustomerPhoneNumber" value="" class="form-control input-mask" placeholder="eg: Bhubaneswar">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">

                        <label>Alternative Phone Number</label><em>*</em>
                        <input type="text" id="txtCustomerAltNo" value="" class="form-control" placeholder="eg: 9658112575">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Email</label><em>*</em>
                        <input type="text" id="txtEmail" value="" class="form-control input-mask" placeholder="eg:test123.com">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label> Status</label><em>*</em>
                        <input type="text" id="txtStatus" value="" class="form-control input-mask" placeholder="eg: Bhubaneswar">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">

                        <label>Shipping Company name</label><em>*</em>
                        <input type="text" id="txtShippingCompanyName" value="" class="form-control" placeholder="eg: 9658112575">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Expected Delivery Date</label><em>*</em>
                        <input type="text" id="txtExpectedDelivery" value="" class="form-control input-mask hasDatepicker" placeholder="eg:test123.com">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group fg-line">
                        <label>Shipping Date</label><em>*</em>
                        <input type="text" id="txtShippingDate" value="" class="form-control input-mask hasDatepicker" placeholder="eg: Bhubaneswar">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group fg-line">

                        <label>Payment Status</label><em>*</em>
                        <input type="text" id="txtPaymentStatus" value="" class="form-control" placeholder="eg: 9658112575">
                    </div>
                </div>
            </div>
      
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="btnAddProductDetails" class="btn btn-primary btn-sm waves-effect pull-right">Save</button>
            </div>
           
        </div>
    </div>
        </div>


