﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/Custom/Home.js"></script>
<div class="card">
    <div class="card-header">
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-3">
                    <input type="hidden" id="hdnUserRoleId" value="@TempData["RoleId"]">
                    <div class="epc-item bgm-pink" id="dvAdmin">
                        <div class="easy-pie main-pie" data-percent="100">
                            <div class="percent"></div>
                            <div class="pie-title">Admin</div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="epc-item bgm-orange" id="dvproduct">
                        <div class="easy-pie main-pie" data-percent="100">
                            <div class="percent"></div>
                            <div class="pie-title">Product</div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="epc-item bgm-green" id="dvFranchaise">
                        <div class="easy-pie main-pie" data-percent="100">
                            <div class="percent"></div>
                            <div class="pie-title">Franchaise</div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="epc-item bgm-purple" id="dvDeliveryBoy">
                        <div class="easy-pie main-pie" data-percent="100">
                            <div class="percent"></div>
                            <div class="pie-title">Delivery Boy</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>*@

@*<script src="vendors/bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <script src="vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>*@
<script src="~/vendors/sparklines/jquery.sparkline.min.js"></script>
<script src="~/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
@*<script src="~/vendors/sparklines/jquery.sparkline.min.js"></script>*@
<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
    <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="~/js/charts.js"></script>
<script src="~/js/functions.js"></script>
<script src="~/js/demo.js"></script>


