﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/DatePiker.css" rel="stylesheet" />
<script src="~/js/Custom/DeliveryBoy.js"></script>
<script src="~/js/jquery-datePiker.js"></script>
@*<div class="card">
    <div class="card-header">
    
        <button class="btn btn-primary pull-right" id="btnAddDeliveryBoyDetails">Add Delivery Boy</button>

    </div></div>*@
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-11">
                    <h2>Delivery Boy Details<small>Here you can add/edit delivery boy details</small></h2>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary pull-right" id="btnAddDeliveryBoyDetails">Add Delivery Boy</button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Nickname</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Alexandra</td>
                        <td>Christopher</td>
                        <td></td>
                        <td>Ducky</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Madeleine</td>
                        <td>Hollaway</td>
                        <td></td>
                        <td>Cheese</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sebastian</td>
                        <td>Johnston</td>
                        <td>bastian</td>
                        <td>Jaycee</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Mitchell</td>
                        <td>Christin</td>
                        <td></td>
                        <td>AdskiDeAnus</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Elizabeth</td>
                        <td>Belkitt</td>
                        <td></td>
                        <td>Goat</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Benjamin</td>
                        <td>Parnell</td>
                        <td></td>
                        <td>Pokie</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Katherine</td>
                        <td>Buckland</td>
                        <td></td>
                        <td>Wokie</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Nicholas</td>
                        <td>Walmart</td>
                        <td></td>
                        <td>Spike</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade " id="divDeliveryBoyDetails" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add/Edit Delivery Boy Profile</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Name</label><em></em>
                                <input type="text" id="txtDBName" value="" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Area Id</label>
                                <input type="text" id="txtDBAreaId" value="" class="form-control input-mask" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Email Id</label><em></em>
                                <input type="text" id="txtDBEmailId" value="" class="form-control input-mask" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Phone Number</label><em></em>
                                <input type="text" id="txtDBPhoneNumber" value="" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Alternative Phone Number</label>
                                <input type="text" id="txtAltPhoneNumber" value="" class="form-control input-mask" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Date Of Joining</label><em></em>
                                <input type="text" id="txtDBDOJ" value="" class="form-control input-mask" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Education Details</label><em></em>
                                <input type="text" id="txtDBEducationDetails" value="" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Vehicle Number</label>
                                <input type="text" id="txtDBVehicleNumber" value="" class="form-control input-mask" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Dl Number</label><em></em>
                                <input type="text" id="txtDBDl" value="" class="form-control input-mask" placeholder="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Pan Number</label><em></em>
                                <input type="text" id="txtDBPanNumber" value="" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Pin Code Id</label>
                                <input type="text" id="txtDBPinCode" value="" class="form-control input-mask" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Vendor Id</label><em></em>
                                <input type="text" id="txtDBVendorId" value="" class="form-control input-mask" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Password</label><em></em>
                                <input type="password" id="txtDBPassword" value="" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Geo Area Map</label>
                                <input type="text" id="txtDBMap" value="" class="form-control input-mask" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                <label>Repository File</label><em></em>
                                <input type="text" id="txtDBRepositoryFile" value="" class="form-control input-mask" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button id="btnAddDeliveryBoyProfile" type="button" class="btn btn-primary">Add Delivery Boy Details</button>
                    <span class="btn bgm-amber" id="btnCalcelPopUp" data-dismiss="modal">Cancel</span>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

