﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .bootfont {
        font-size: 10px;
    }
   
     .company-grid-action {
        padding: 7px;
        margin-right: 6px;
        border-radius: 5px;
    }
    .grd-name{
width:20%;
    }
    .grd-email {
        width: 13%;
    }
    .grd-phone {
        width: 12%;
    }
    .grd-head {
        width: 205;
    }
    .grd-local {
        width: 20%;
    }
    .grd-action {
        width: 10%;
    }
</style>
<script src="~/js/angular.min.js"></script>
<link href="~/vendors/bootgrid/jquery.bootgrid.min.css" rel="stylesheet" />
<script src="~/vendors/bootgrid/jquery.bootgrid.min.js"></script>
<script src="~/js/Custom/ProductDetails.js"></script>
<script src="~/js/Custom/AutoComplete.js"></script>
<script src="~/js/Custom/AssignProduct.js"></script>
<div class="pm-body clearfix">
    <div class="card">
        <input type="hidden" id="hdnUserRoleId" value="@TempData["RoleId"]" />
        <ul class=" tab-nav tn-justified">
            <li id="liProductDetails" class=""><a href="#ProductDetails-info" id="ProductDetails" aria-controls="ProductDetails-info" role="tab" data-toggle="tab" aria-expanded="true">Expected Product</a></li>
            <li id="liAssignproduct" class=""><a href="#Assignproduct" aria-controls="Assignproduct" role="tab" data-toggle="tab" aria-expanded="false">Received Product</a></li>
             <li id="liAssignproduct" class=""><a href="#Assignproduct" aria-controls="Assignproduct" role="tab" data-toggle="tab" aria-expanded="false">Assign Product</a></li>
            <li id="liDeliveryProduct" class=""><a href="#DeliveryProduct" aria-controls="DeliveryProduct" role="tab" data-toggle="tab" aria-expanded="false">Delivery Product</a></li>
            <li id="liUndeliveyProduct" class=""><a href="#UndeliveyProduct" aria-controls="UndeliveyProduct" role="tab" data-toggle="tab" aria-expanded="false">Undelivey Product</a></li>
            <li id="liProductStatus" class=""><a href="#ProductStatus" aria-controls="ProductStatus" role="tab" data-toggle="tab" aria-expanded="false">Product Status</a></li>
            <li id="liUnassigned" class=""><a href="#Unassigned" aria-controls="Unassigned" role="tab" data-toggle="tab" aria-expanded="false">Unassigned Product</a></li>
        <li id="liCompany" class=""><a href="#Company" aria-controls="Company" role="tab" data-toggle="tab" aria-expanded="false">Company</a></li>
        </ul>
        </div>
        <div class="tab-content p-t-0">
            <div role="tabpanel" class="tab-pane  m-b-10" id="ProductDetails-info">
                @Html.Partial("~/Views/Shared/_PartialProductDetails.cshtml", "")
            </div>
            <div role="tabpanel" class="tab-pane  m-b-10 " id="Assignproduct">
                @Html.Partial("~/Views/Shared/_PartialAssignproducts.cshtml", "")

            </div>
            <div role="tabpanel" class="tab-pane  m-b-10 " id="DeliveryProduct">
                @Html.Partial("~/Views/Shared/_PartialDeliveredProduct.cshtml", "")

            </div>
            <div role="tabpanel" class="tab-pane  m-b-10 " id="UndeliveyProduct">
                @Html.Partial("~/Views/Shared/_PartialUndeliveryProduct.cshtml", "")

            </div>
            <div role="tabpanel" class="tab-pane  m-b-10 " id="ProductStatus">
                @Html.Partial("~/Views/Shared/_PartialProductProductStatus.cshtml", "")

            </div>
            <div role="tabpanel" class="tab-pane  m-b-10 " id="Company">
                @Html.Partial("~/Views/Shared/_PartialCompany.cshtml", "")

            </div>
            <div role="tabpanel" class="tab-pane  m-b-10 " id="Unassigned">
                @Html.Partial("~/Views/Shared/_PartialUnassignedProduct.cshtml", "")

            </div>

        </div>
    </div>


            <div class="modal fade" id="divAddEditParcel" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            <h4 class="modal-title custom_align" id="H2">Find Your Detail</h4>
                        </div>

                        <div class="modal-footer ">
                            <button type="button" class="btn btn-primary btn-lg" id="btnAddMore" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
