﻿
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- Vendor CSS -->
    <link href="~/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="~/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">

    <link href="~/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
    <link href="~/vendors/bower_components/nouislider/distribute/jquery.nouislider.min.css" rel="stylesheet">
    <link href="~/vendors/bower_components/summernote/dist/summernote.css" rel="stylesheet">
    <link href="~/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/vendors/farbtastic/farbtastic.css" rel="stylesheet">
    <link href="~/vendors/chosen_v1.4.2/chosen.min.css" rel="stylesheet">
    <link href="~/css/style-outer-for-inner.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/DatePiker.css" rel="stylesheet" />

    <link href="~/css/Custom.css" rel="stylesheet" />
    @*<link href="~/css/style.css" rel="stylesheet" />*@

    <!-- CSS -->
    <link href="~/css/app.min.1.css" rel="stylesheet">
    <link href="~/css/app.min.2.css" rel="stylesheet">
    @*<link href="~/css/Custom.css" rel="stylesheet" />*@
  

    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script src="~/js/jquery-datePiker.js"></script>
    @*<script src="~/vendors/bower_components/jquery/dist/jquery.min.js"></script>*@
    <script src="~/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <script src="~/vendors/bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="~/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="~/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
    <script src="~/vendors/bower_components/lightgallery/light-gallery/js/lightGallery.min.js"></script>
    <script src="~/vendors/bower_components/autosize/dist/autosize.min.js"></script>

    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->

    <script src="~/vendors/chosen_v1.4.2/chosen.jquery.min.js"></script>
    <script src="~/vendors/fileinput/fileinput.min.js"></script>
    <script src="~/vendors/input-mask/input-mask.min.js"></script>
    <script src="~/vendors/farbtastic/farbtastic.min.js"></script>
    <script src="~/vendors/bower_components/summernote/dist/summernote.js"></script>
    <script src="~/vendors/input-mask/input-mask.min.js"></script>
    
 
    <script src="~/js/functions.js"></script>
    <script src="~/js/ValidationHelper.js"></script>
    <script src="~/js/demo.js"></script>
    <style type="text/css">
        #sidebar .sidebar-inner {
            height: 100%;
            width: 100%;
        }
        .p-t-29{
            padding-top: 30px;
        }
        .p-t-16{
            padding-top:16px !important;
        }
    </style>
</head>
<body>
    <header id="header" class="sidebar-toggled">
     
        <ul class="header-inner">
            <li id="menu-trigger" data-trigger="#sidebar" class="open">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="logo hidden-xs">
                @*<a href="#">Employee </a>*@
                @*<a href="#">@EJBSSession.User.FirstName</a>*@

                <img src="~/img/logo.png" style="height: 47px;"/>
                 @*<a href="#">Airbox</a>*@


            </li>

            <li class="pull-right">
                <ul class="top-menu">
                    @*<li id="toggle-width">
                        <div class="toggle-switch">
                            <input id="tw-switch" type="checkbox" hidden="hidden">
                            <label for="tw-switch" class="ts-helper"></label>
                        </div>
                    </li>*@

                    <li class="dropdown">
                            <a data-toggle="dropdown" class="tm-notification" href=""><i class="tmn-counts">9</i></a>
                            <div class="dropdown-menu dropdown-menu-lg pull-right">
                                <div class="listview" id="notifications">
                                    <div class="lv-header">
                                        Notification

                                        <ul class="actions">
                                            <li class="dropdown">
                                                <a href="" data-clear="notification">
                                                    <i class="zmdi zmdi-check-all"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="lv-body">
                                        <a class="lv-item" href="">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img class="lv-img-sm" src="~/img/profile-pics/1.jpg" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <div class="lv-title">David Belle</div>
                                                    <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="lv-item" href="">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img class="lv-img-sm" src="~/img/profile-pics/2.jpg" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <div class="lv-title">Jonathan Morris</div>
                                                    <small class="lv-small">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="lv-item" href="">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img class="lv-img-sm" src="~/img/profile-pics/3.jpg" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <div class="lv-title">Fredric Mitchell Jr.</div>
                                                    <small class="lv-small">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="lv-item" href="">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img class="lv-img-sm" src="~/img/profile-pics/4.jpg" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <div class="lv-title">Glenn Jecobs</div>
                                                    <small class="lv-small">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="lv-item" href="">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <img class="lv-img-sm" src="~/img/profile-pics/4.jpg" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <div class="lv-title">Bill Phillips</div>
                                                    <small class="lv-small">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <a class="lv-footer" href="">View Previous</a>
                                </div>

                            </div>
                        </li>

                    <li class="dropdown">
                        <a data-toggle="dropdown" class="tm-settings" href=""></a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            <li class="hidden-xs">
                                    <a data-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i>Toggle Fullscreen</a>
                                </li>
                                <li>
                                    <a data-action="clear-localstorage" href=""><i class="zmdi zmdi-delete"></i>Clear Local Storage</a>
                                </li>
                                <li>
                                    <a href=""><i class="zmdi zmdi-face"></i>Privacy Settings</a>
                                </li>
                                <li>
                                    <a href=""><i class="zmdi zmdi-settings"></i>Other Settings</a>
                                </li>
                            <li>
                                <a href="/Logout/index">
                                    <span class="glyphicon glyphicon-log-out" style="width:28px; font-size:14px;"></span>
                                    @*<i class="zmdi zmdi-replay zmdi-hc-spin-reverse" style="width:28px; font-size:14px;"></i>*@
                                    Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </li>
        </ul>
    </header>
    <section id="main">
        <aside id="sidebar">
            <div class="sidebar-inner c-overflow" tabindex="1" style="overflow: hidden; outline: none;">
                <div class="profile-menu">
                    <a href="">
                        <div class="profile-pic">
                            <img src="~/img/profile-pics/1.jpg" alt="">
                        </div>

                        <div class="profile-info">
                          
                        </div>
                    </a>
                </div>

                <ul class="main-menu">
                    @*<li><a href="#"><i class="zmdi zmdi-home"></i>Dashboard</a></li>
            <li><a href="#"><i class="zmdi zmdi-face"></i>My Profile</a></li>*@
                    <li class="sub-menu" id="liEmployeeMenu">
                        <a href=""><i class="zmdi zmdi-home zmdi-hc-fw"></i>Home</a>
                        @*<ul class="main-menu">
                    <li><a href="~/EmployeeProfile/index">My Profile</a></li>
                    <li><a href="~/EmployeeDashBoard/index">ProductDetails</a></li>
                </ul>*@
                    </li>
                    <li class="sub-menu" id="liEmployeeMenu">
                        <a href=""><i class="zmdi zmdi-inbox zmdi-hc-fw"></i>In Bound</a>
                        <ul class="main-menu p-t-16">
                            <li><a class="p-t-29" href="">Expected Product</a></li>
                            <li><a class="p-t-29" href="">Received Product</a></li>
                            <li><a class="p-t-29" href="">Operation</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu" id="liAdminMenu">
                        <a href=""><i class="zmdi zmdi-open-in-browser zmdi-hc-fw"></i>Out Bound</a>
                        <ul class="main-menu p-t-16">
                            <li><a class="p-t-29" href="~/Statemanagement/index">Create Manifest</a></li>
                            <li><a class="p-t-29" href="~/EmployerVerification/index">In Transist</a></li>
                        </ul>     
                    </li>
                    <li class="sub-menu" id="liAdminMenu">
                        <a href=""><i class="zmdi zmdi-wrench zmdi-hc-fw"></i>Operation</a>
                        @*<ul class="main-menu">
                    <li><a href="~/Statemanagement/index">UploadProduct</a></li>
                    <li><a href="~/EmployerVerification/index">ManageProduct</a></li>
                </ul>*@
                    </li>
                    <li class="sub-menu" id="liAdminMenu">
                        <a href=""><i class="zmdi zmdi-receipt zmdi-hc-fw"></i>Report</a>
                    </li>
                    <li class="sub-menu" id="liAdminMenu">
                        <a href=""><i class="zmdi zmdi-map zmdi-hc-fw"></i>Map View</a>
                    </li>

</ul>
                <div id="ascrail2002" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 5; cursor: default; position: absolute; top: 0px; left: 263px; height: 637px; touch-action: none; display: none; opacity: 0;">
                    <div class="nicescroll-cursors" style="position: relative; top: 237px; float: right; width: 5px; height: 400px; background-color: rgba(0, 0, 0, 0.498039); border: 0px; background-clip: padding-box; border-radius: 0px; touch-action: none;"></div>
                </div>
                <div id="ascrail2002-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 5; top: 632px; left: 0px; position: absolute; cursor: default; display: none; width: 263px; opacity: 0;">
                    <div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 268px; background-color: rgba(0, 0, 0, 0.498039); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
                </div>
        </aside>

        <section id="content">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    </section>
        <div class="container">
            <div class="footer-grids" data-wow-delay="0.4s">
                <div class="col-md-3 footer-grid">
                    <h4>About studeon</h4>
                    <div class="border2"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu neque, at convallis est felis.</p>
                    <p class="sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id arcu neque, at convallis est felis.</p>
                </div>
                <div class="col-md-3 footer-grid tags">
                    <h4>the tags</h4>
                    <div class="border2"></div>
                    <ul class="tag">
                        <li><a href="#">Awesome</a></li>
                        <li><a href="#">Strategy</a></li>
                        <li><a href="#">Photography</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Css</a></li>
                        <li><a href="#">photoshop</a></li>
                        <li><a href="#">Html</a></li>
                        <li><a href="#">Awesome</a></li>
                        <li><a href="#">Strategy</a></li>
                        <li><a href="#">Photoshop</a></li>
                        <li><a href="#">Html</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid tweet">
                    <h4>latest tweets</h4>
                    <div class="border2"></div>
                    <div class="icon-3-square">
                        <a href="#"><i class="square-3"></i></a>
                    </div>
                    <div class="icon-text">
                        <p>I like this awesome freebie. Check it out<a href="#"> </a></p>
                        <h5>About 15 mins</h5>
                    </div>
                    <div class="clearfix"></div>
                    <div class="icon-3-square">
                        <a href="#"><i class="square-3"></i></a>
                    </div>
                    <div class="icon-text">
                        <p>I like this awesome freebie. Check it out<a href="#">  </a></p>
                        <h5>About 15 mins</h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-3 footer-grid flickr">
                    <h4>flickr feed</h4>
                    <div class="border2"></div>
                    <div class="flickr-grids">
                        <div class="flickr-grid">
                            <a href="#"><img src="~/images/f1.png" alt=" " title="CEO" /></a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#"><img src="~/images/f2.png" alt=" " title="GM" /></a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#"><img src="~/images/f3.png" alt=" " title="CEO" /></a>
                        </div>
                        <div class="clearfix"> </div>

                        <div class="flickr-grid">
                            <a href="#"><img src="~/images/f4.png" alt=" " title="GM" /></a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#"><img src="~/images/f3.png" alt=" " title="CEO" /></a>
                        </div>
                        <div class="flickr-grid">
                            <a href="#"><img src="~/images/f2.png" alt=" " title="GM" /></a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--//end-footer-section-->
    <!--/start-copyright-section-->
    <div class="copyright">
        <div class="container">
            <div class="logo2  wow bounceInLeft" data-wow-delay="0.4s"><a href="index.html"><img src="~/images/logo2.png" alt="" /></a></div>
            <p class="write  wow bounceInRight" data-wow-delay="0.4s">Copyright &copy; 2017 Airbox All rights  Reserved | Developed by &nbsp;<a target="_blank"></a></p>
        </div>
        <div class="clearfix"></div>
    </div>
</body>
</html>
