﻿
<div class="row" ng-app="assignProductDetailsApp" ng-controller="assignProductDetailsCntrl">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <h2>Received Products <small></small></h2>
                </div>

            </div>
        </div>
        <div class="card">


            <div class="card-body card-padding">
                <br />

                <div class="popover-demo">

                    <div class="row" ng-repeat="item in ProductDetails.items|filter: Productbystatus">
                        <div class=" col-sm-6">
                            <div class="popover right" style="max-width: 94%;min-width: 94%;min-height: 167px;max-height: 167px;">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Costumer Information</h3>
                                <div class="card-body card-padding">
                                    <div class="pmo-contact">
                                        <ul>
                                            <li class="ng-binding"><i class="zmdi zmdi-phone"></i>985698988 </li>
                                            <li class="ng-binding"><i class="zmdi zmdi-email"></i>b@email.com </li>
                                            <li>
                                                <i class="zmdi zmdi-pin"></i>
                                                <address class="m-b-0 ng-binding">
                                                   Pati,Chandrasekhar pur
                                                </address>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6">
                            <div class="popover right" style="max-width: 94%;min-width: 94%;min-height: 167px;max-height: 167px;">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Product Information</h3>
                                <div class="card-body card-padding">
                                    <div class="pmo-contact">
                                        <ul>
                                            <li class="ng-binding"><i class="zmdi zmdi-info zmdi-hc-fw"></i> #2547896587</li>
                                            <li class="ng-binding"><i class="zmdi zmdi-case zmdi-hc-fw"></i>moto gp </li>
                                            <li class="ng-binding"><i class="zmdi zmdi-calendar zmdi-hc-fw"></i> Nov 24, 2017</li>
                                            <li class="ng-binding"><i class="zmdi zmdi-money zmdi-hc-fw"></i> 458/-</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-repeat="item in ProductDetails.items|filter: Productbystatus">
                        <div class=" col-sm-6">
                            <div class="popover right" style="max-width: 94%;min-width: 94%;min-height: 167px;max-height: 167px;">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Costumer Information</h3>
                                <div class="card-body card-padding">
                                    <div class="pmo-contact">
                                        <ul>
                                            <li class="ng-binding"><i class="zmdi zmdi-phone"></i>98562365 </li>
                                            <li class="ng-binding"><i class="zmdi zmdi-email"></i>g@email.com </li>
                                            <li>
                                                <i class="zmdi zmdi-pin"></i>
                                                <address class="m-b-0 ng-binding">
                                                    khanadagirir,dumduma,khordha
                                                </address>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6">
                            <div class="popover right" style="max-width: 94%;min-width: 94%;min-height: 167px;max-height: 167px;">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Product Information</h3>
                                <div class="card-body card-padding">
                                    <div class="pmo-contact">
                                        <ul>
                                            <li class="ng-binding"><i class="zmdi zmdi-info zmdi-hc-fw"></i> #2547896598</li>
                                            <li class="ng-binding"><i class="zmdi zmdi-case zmdi-hc-fw"></i>Intex </li>
                                            <li class="ng-binding"><i class="zmdi zmdi-calendar zmdi-hc-fw"></i>Sep 24, 2017 </li>
                                            <li class="ng-binding"><i class="zmdi zmdi-money zmdi-hc-fw"></i> 589/-</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-repeat="item in ProductDetails.items|filter: Productbystatus">
                        <div class=" col-sm-6">
                            <div class="popover right" style="max-width: 94%;min-width: 94%;min-height: 167px;max-height: 167px;">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Costumer Information</h3>
                                <div class="card-body card-padding">
                                    <div class="pmo-contact">
                                        <ul>
                                            <li class="ng-binding"><i class="zmdi zmdi-phone"></i> 56989898</li>
                                            <li class="ng-binding"><i class="zmdi zmdi-email"></i>email@emial.com </li>
                                            <li>
                                                <i class="zmdi zmdi-pin"></i>
                                                <address class="m-b-0 ng-binding">
                                                    kalarahanga,patia,khordha
                                                </address>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6">
                            <div class="popover right" style="max-width: 94%;min-width: 94%;min-height: 167px;max-height: 167px;">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Product Information</h3>
                                <div class="card-body card-padding">
                                    <div class="pmo-contact">
                                        <ul>
                                            <li class="ng-binding"><i class="zmdi zmdi-info zmdi-hc-fw"></i> #2547896586</li>
                                            <li class="ng-binding"><i class="zmdi zmdi-case zmdi-hc-fw"></i>Summet grinder </li>
                                            <li class="ng-binding"><i class="zmdi zmdi-calendar zmdi-hc-fw"></i>Nov 15, 2017 </li>
                                            <li class="ng-binding"><i class="zmdi zmdi-money zmdi-hc-fw"></i> 1250/-</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-repeat="item in ProductDetails.items|filter: Productbystatus">
                        <div class=" col-sm-6">
                            <div class="popover right" style="max-width: 94%;min-width: 94%;min-height: 167px;max-height: 167px;">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Costumer Information</h3>
                                <div class="card-body card-padding">
                                    <div class="pmo-contact">
                                        <ul>
                                            <li class="ng-binding"><i class="zmdi zmdi-phone"></i>986523656 </li>
                                            <li class="ng-binding"><i class="zmdi zmdi-email"></i>email.com </li>
                                            <li>
                                                <i class="zmdi zmdi-pin"></i>
                                                <address class="m-b-0 ng-binding">
                                                    dumduma, patia,bbsr
                                                </address>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6">
                            <div class="popover right" style="max-width: 94%;min-width: 94%;min-height: 167px;max-height: 167px;">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Product Information</h3>
                                <div class="card-body card-padding">
                                    <div class="pmo-contact">
                                        <ul>
                                            <li class="ng-binding"><i class="zmdi zmdi-info zmdi-hc-fw"></i> #2547896589</li>
                                            <li class="ng-binding"><i class="zmdi zmdi-case zmdi-hc-fw"></i>Motorola </li>
                                            <li class="ng-binding"><i class="zmdi zmdi-calendar zmdi-hc-fw"></i>Nov 07, 2017 </li>
                                            <li class="ng-binding"><i class="zmdi zmdi-money zmdi-hc-fw"></i> 458/-</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="clearfix"></div>*@
                </div>
            </div>
        </div>
    </div>
</div>
