﻿


    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-11">
                    <h2>Company Details<small>Here you can Add/Edit Company boy details</small></h2>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary pull-right" id="btnCompanyDetails">Add Company Details</button>
                </div>
            </div>
        </div>

        <div class="table-hover">
            <table class="table table-hover" data-toggle="bootgrid">
                <thead>
                    <tr>
                        <th class="grd-name">Name</th>
                        <th class="grd-email">Email</th>
                        <th class="grd-phone">Phone</th>
                        <th class="grd-head">HeadQuater</th>
                        <th class="grd-local">LocalAddress</th>
                        <th class="grd-action">Action</th>
                    </tr>
                </thead>
                <tbody id="tblCompany"></tbody>
            </table>
        </div>
    </div>



<div class="modal fade " id="divCompanyDetails" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add/Edit Delivery Boy Profile</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <input type="hidden" id="hdnCompanyId">
                            <label>Company Name</label><em>*</em>
                            <input type="text" id="txtCmpCompanyName" value="" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label>Email</label>
                            <input type="text" id="txtCmpEmail" value="" class="form-control input-mask" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label>Phone No</label><em></em>
                            <input type="text" id="txtCmpPhoneNo" value="" class="form-control input-mask" placeholder="">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label>Headquarter</label><em></em>
                            <input type="text" id="txtCmpHeadquarter" value="" class="form-control input-mask" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <input type="hidden" id="hdndeliverboyId">
                            <label>Local Address</label><em>*</em>
                            <textarea id="txtCmpLocalAddress" rows="2" class="form-control" placeholder=""></textarea>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">

                <button id="btnAddCompanyDetails" type="button" class="btn btn-primary">Add Company Details</button>
                <span class="btn bgm-amber" id="btnCalcelPopUp" data-dismiss="modal">Cancel</span>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>