﻿
<style type="text/css">
    .dropdown-basic-demo {
        display: inline-block;
        margin: 0 15px 20px 0;
    }

        .dropdown-basic-demo .dropdown-menu {
            display: block;
            position: relative;
            transform: scale(1);
            opacity: 1;
            filter: alpha(opacity=1);
            z-index: 0;
        }

    .dropdown-btn-demo .dropdown, .dropdown-btn-demo .btn-group, .btn-demo .btn {
        display: inline-block;
        margin: 0 5px 7px 0;
    }

    .modal-preview-demo .modal {
        position: relative;
        display: block;
        z-index: 0;
        background: rgba(0,0,0,0.1);
    }

    .margin-bottom > * {
        margin-bottom: 20px;
    }

    .popover-demo .popover {
        position: relative;
        display: inline-block;
        opacity: 1;
        margin: 0 10px 30px;
        z-index: 0;
    }
</style>

<div class="row" ng-app="ProductDetailsApp" ng-controller="ProductDetailsCntrl">
    <div class="col-sm-12 div-content">


        <div class="row">
            <div class="col-sm-2 p-l-0 p-r-0">
                <div class="card m-b-5">
                    <div class="card-header">

                        <div class="row">
                            <div class=" col-sm-12">
                                <p class="c-blue m-b-10">
                                    Product Status
                                </p>
                                <div class="checkbox m-b-15" ng-repeat="item in ProductStatusMaster.items">
                                    <label>
                                        <input type="checkbox" ng-click="ProductStatus(item.ProductStatus)" ng-model="filter[item.ProductStatus]" value="item.Id">
                                        <i class="input-helper"></i>
                                        {{item.ProductStatus}}
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-12">
                                <p class="c-blue m-b-10">
                                    Shipping Company
                                </p>
                                <div class="checkbox m-b-15" ng-repeat="item in ShippingCompanyMaster.items">
                                    <label>
                                        <input type="checkbox" ng-click="ShippingDetails(item.ShippingCompanyName)" ng-model="ProductbyShippingCompanyName[item.ShippingCompanyName]" value="item.Id">
                                        <i class="input-helper"></i>
                                        {{item.ShippingCompanyName}}
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-12">
                                <p class="c-blue m-b-10">
                                    Payment Status
                                </p>
                                <div class="checkbox m-b-15" ng-repeat="item in PaymentStatusMaster.items">
                                    <label>
                                        <input type="checkbox" value="item.Id">
                                        <i class="input-helper"></i>
                                        {{item.PayemntStautus}}
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-12">
                                <p class="c-blue m-b-10">
                                    Vendor
                                </p>
                                <div class="checkbox m-b-15" ng-repeat="item in VendorList.items">
                                    <label>
                                        <input type="checkbox" value="item.Id">
                                        <i class="input-helper"></i>
                                        {{item.Name}}
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="row row-hr">
                            <div class=" col-sm-12">
                                <p class="c-blue m-b-10">
                                    Priority  Delivery
                                </p>
                                <div class="checkbox m-b-15">
                                    <label>
                                        <input type="checkbox" value="">
                                        <i class="input-helper"></i>
                                        Max Priority
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            

            <div class="col-sm-10 p-l-5">
                <div class="card m-b-5">
                    <div class="card-header">
                        <div class="row">
                            <div class=" col-sm-3">
                                <h2 class="c-blue">
                                    Product Details <small id="productDisplay" style="cursor: pointer;">Grid View</small>
                                </h2>
                            </div>
                            <div class="col-sm-3 m-t-10">
                                <div class="">
                                    <input type="file" id="uploadFile" />
                                </div>
                            </div>
                            <div class="col-sm-3 m-t-10">
                                <div class="">

                                    <button type="button" class="btn btn-primary" id="btnImportProduct" ng-click="FileUpload();">Import Product</button>
                                </div>
                            </div>
                            @*<div class="col-sm-2 m-t-10">
                                    <div class="">

                                        <button type="button" class="btn btn-primary" id="btnAddCompany">Add Company</button>
                                    </div>
                                </div>*@
                            <div class="col-sm-3 m-t-10">
                                <div class="">

                                    <button type="button" class="btn btn-primary" id="btnAddProduct">Add Product</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card" id="classicViewProductDetails">
                    <div class="row">
                        <div class="col-sm-6"><h3 class="popover-title">Costumer Information</h3></div>
                        <div class="col-sm-6"><h3 class="popover-title">Product Information</h3></div>
                    </div>

                    <div class="card-body card-padding">
                        <br />

                        <div class="popover-demo">

                            <div class="row" ng-repeat="item in ProductDetails.items|filter: Productbystatus">
                                <div class=" col-sm-6">
                                    <div class="popover right" style="max-width: 94%;min-width: 94%;min-height: 93px;max-height: 93px;margin-top: -28px;">
                                        <div class="arrow"></div>
                                        <div class="card-body card-padding p-t-10">
                                            <div class="pmo-contact">
                                                <ul>
                                                    
                                                    <li class="ng-binding col-sm-6"><i class="zmdi zmdi-phone"></i> {{item.CustomerPhoneNumber}}</li>
                                                    <li class="ng-binding col-sm-6"><i class="zmdi zmdi-email"></i> {{item.CustomerEmail}}</li>
                                                    <li class="col-sm-12">
                                                        <i class="zmdi zmdi-pin"></i>
                                                        <address class="m-b-0 ng-binding">
                                                            {{item.CustomerAddress}}
                                                        </address>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-6">
                                    <div class="popover right" style="max-width: 94%;min-width: 94%;min-height: 93px;max-height: 93px;margin-top: -28px;">
                                        <div class="arrow"></div>
                                        <div class="card-body card-padding p-t-10">
                                            <div class="pmo-contact">
                                                <ul>
                                                    <li class="ng-binding col-sm-6"><i class="zmdi zmdi-info zmdi-hc-fw"></i> <a href="#">#2547896586</a> </li>
                                                    <li class="ng-binding col-sm-6"><i class="zmdi zmdi-info zmdi-hc-fw"></i> #2547896586</li>
                                                    <li class="ng-binding col-sm-6"><i class="zmdi zmdi-case zmdi-hc-fw"></i> {{item.ProductDetails}}</li>
                                                    <li class="ng-binding col-sm-6"><i class="zmdi zmdi-calendar zmdi-hc-fw"></i> {{item.ExpectedDeliveryDate | date}}</li>
                                                    <li class="ng-binding col-sm-6"><i class="zmdi zmdi-money zmdi-hc-fw"></i> 458/-</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="clearfix"></div>*@
                        </div>
                    </div>
                </div>

                

                <div class="">
                    <table id="gridProductDetails" class="table table-hover" data-toggle="bootgrid">
                        <thead>
                            <tr>

                                <th>Name</th>
                                <th>Address</th>
                                <th>Pin</th>
                                <th>Phone Number</th>
                                <th>Alternative Phone Number</th>
                                <th>Email</th>
                                <th>Expected Delivery Date</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ProductDetails.items">
                                <td>{{item.ProductDetails}}</td>
                                <td>{{item.CustomerAddress}}</td>
                                <td>{{item.CustomerPin}}</td>
                                <td>{{item.CustomerPhoneNumber}}</td>
                                <td>{{item.CustALtPhnNumber}}</td>
                                <td>{{item.CustomerEmail}}</td>
                                <td>{{item.ExpectedDeliveryDate | date}}</td>
                                <td>
                                    @*<a title="Edit Details" id="btnViewPd" class="" ng-click="GetProductDetailsByProductId(item);"><i class="zmdi zmdi-edit zmdi-hc-2x c-blue "></i></a>*@
                                    <a title="View Details" id="btnd" class="" ng-click="ViewProductDetails(item);"><i class="zmdi zmdi-search zmdi-hc-2x c-blue "></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-sm-2 p-l-0 p-r-0 div-advertisement">
            <div class="card m-b-5">
                <div class="card-header p-0">
                    <div class="row">
                        <div class=" col-sm-12">

                            <img class="img-thumbnail" src="~/img/headers/square/1.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card m-b-5">
                <div class="card-header p-0">
                    <div class="row">
                        <div class=" col-sm-12">

                            <img class="img-thumbnail" src="~/img/headers/square/4.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card m-b-5">
                <div class="card-header p-0">
                    <div class="row">
                        <div class=" col-sm-12">

                            <img class="img-thumbnail" src="~/img/headers/square/3.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

</div>

<div class="modal fade " id="divProductDetails" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add/Edit Vendor Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <input id="hdnProductId" type="hidden" value="">
                            <label>Product Name</label><em>*</em>
                            <input type="text" id="txtProductName" value="" class="form-control" placeholder="eg: Cybria Technology">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label>Customer Address</label><em>*</em>
                            <input type="text" id="txtCustomerAddress" value="" class="form-control input-mask" placeholder="eg:test123.com">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label>Customer Pin</label><em>*</em>
                            <input type="text" id="txtCustomerPin" value="" class="form-control input-mask" placeholder="eg: Bhubaneswar">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label>Phone Number</label><em>*</em>
                            <input type="text" id="txtCustomerPhoneNumber" value="" class="form-control input-mask" placeholder="eg: Bhubaneswar">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            @*<input id="hdnCompId" type="hidden" value="@Model.CompanyDetails.Id">*@
                            <label>Alternative Phone Number</label><em>*</em>
                            <input type="text" id="txtCustomerAltNo" value="" class="form-control" placeholder="eg: 9658112575">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label>Email</label><em>*</em>
                            <input type="text" id="txtEmail" value="" class="form-control input-mask" placeholder="eg:test123.com">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label> Status</label><em>*</em>
                            <input type="text" id="txtStatus" value="" class="form-control input-mask" placeholder="eg: Bhubaneswar">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            @*<input id="hdnCompId" type="hidden" value="@Model.CompanyDetails.Id">*@
                            <label>Shipping Company name</label><em>*</em>
                            <input type="text" id="txtShippingCompanyName" value="" class="form-control" placeholder="eg: 9658112575">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label>Expected Delivery Date</label><em>*</em>
                            <input type="text" id="txtExpectedDelivery" value="" class="form-control input-mask" placeholder="eg:test123.com">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label>Shipping Date</label><em>*</em>
                            <input type="text" id="txtShippingDate" value="" class="form-control input-mask" placeholder="eg: Bhubaneswar">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            @*<input id="hdnCompId" type="hidden" value="@Model.CompanyDetails.Id">*@
                            <label>Payment Status</label><em>*</em>
                            <input type="text" id="txtPaymentStatus" value="" class="form-control" placeholder="eg: 9658112575">
                        </div>
                    </div>


                </div>
            </div>

            <div class="modal-footer">

                <button id="btnAddProductDetails" class="btn btn-primary">Add Product Details</button>
                <span class="btn bgm-amber" id="btnCalcelPopUp" data-dismiss="modal">Cancel</span>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="vendors/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
