﻿<style type="text/css">
    .pin-border {
        border: 2px #bbb5b8;
        padding-top: 24px;
        padding-bottom: 0px;
        background-color: #bbb5b8;
        border-radius: 11px;
            margin-left: 3%;
    margin-right: 3%;
    }

    .p-l-7 {
        padding-left: 7px;
    }
</style>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-12">
                <h2>UnassignedProduct Details <small></small></h2>
            </div>
            
        </div>
    </div>
    <table id="tblUnAssignProduct" class="" data-toggle="bootgrid">
        <thead>
            <tr>
                <th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false">Id</th>
                <th data-column-id="productid">ProductId</th>
                <th data-column-id="Email">Customer Pin</th>
                <th data-column-id="Mobile1">Customer No</th>
                <th data-column-id="Mobile2">Payment Status</th>
                <th data-column-id="scn">Shipping Cmp Name</th>
                <th data-column-id="pc">Cost</th>
                <th data-column-id="Ed">Expected Delv Date</th>

                <th data-column-id="Add" data-formatter="commands" data-header-align="left">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>

        </tbody>
    </table>
</div>


<div class="modal fade " id="divAssignPin" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Assign Pin</h4>
            </div>
            <div class="modal-body">
                
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label>District</label>
                            <select id="ddlDistrict" class="drop-down-style">
                                <option value="0">Choose District</option>
                            </select>
                        </div>
                    </div>
                    @*<div class="col-sm-4">
                <div class="form-group fg-line">
                    <label>District</label><em></em>
                    <select id="ddlDistrict" class="drop-down-style">
                        <option value="0">Choose District</option>
                    </select>
                </div>
            </div>*@
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label>Area</label><em></em>
                            <select id="ddlArea" class="drop-down-style">
                                <option value="0">Choose Area</option>
                            </select>
                            @*<input type="hidden" id="hdnArea" />
                    <input type="text" id="txtArea" value="" class="form-control" placeholder="">*@
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label>Locality</label>
                            <select id="ddlLocaity" class="drop-down-style">
                                <option value="0">Choose Locality</option>
                            </select>
                            @*<input type="hidden" id="hdnLocality" />
                    <input type="text" id="txtLocality" value="" class="form-control input-mask" placeholder="">*@
                        </div>
                    </div>

                </div>
                

                <input type="hidden" id="hdnProductId" />
            </div>
            <div class="row pin-border">

            </div>

            <div class="modal-footer">

                <button id="btnAssignPin" class="btn btn-primary">Asign Product</button>
                <span class="btn bgm-amber" id="btnCalcelPopUp" data-dismiss="modal">Cancel</span>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>