﻿
<section id="content">
    <div class="container">
        <div class="card" id="profile-main">
            <div class="pm-overview c-overflow" tabindex="3" style="overflow: hidden; outline: none;">
                <div class="pmo-pic">
                    <div class="p-relative">
                        <a href="">
                            <img class="img-responsive" src="img/profile-pics/profile-pic-2.jpg" alt="">
                        </a>

                        <div class="dropdown pmop-message">
                            <a data-toggle="dropdown" href="" class="btn bgm-white btn-float z-depth-1 waves-effect waves-circle waves-float">
                                <i class="zmdi zmdi-comment-text-alt"></i>
                            </a>

                            <div class="dropdown-menu">
                                <textarea placeholder="Write something..."></textarea>

                                <button class="btn bgm-green btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-mail-send"></i></button>
                            </div>
                        </div>

                        <a href="" class="pmop-edit">
                            <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">Update Profile Picture</span>
                        </a>
                    </div>


                    <div class="pmo-stat">
                        <h2 class="m-0 c-white">1562</h2>
                        Total Connections
                    </div>
                </div>

                <div class="pmo-block pmo-contact hidden-xs">
                    <h2>Contact</h2>

                    <ul>
                        <li><i class="zmdi zmdi-phone"></i> 00971 12345678 9</li>
                        <li><i class="zmdi zmdi-email"></i> malinda-h@gmail.com</li>
                        <li><i class="zmdi zmdi-facebook-box"></i> malinda.hollaway</li>
                        <li><i class="zmdi zmdi-twitter"></i>  (twitter.com/malinda)</li>
                        <li>
                            <i class="zmdi zmdi-pin"></i>
                            <address class="m-b-0">
                                10098 ABC Towers, <br>
                                Dubai Silicon Oasis, Dubai, <br>
                                United Arab Emirates
                            </address>
                        </li>
                    </ul>
                </div>

                <div class="pmo-block pmo-items hidden-xs">
                    <h2>Connections</h2>

                    <div class="pmob-body">
                        <div class="row">
                            <a href="" class="col-xs-2">
                                <img class="img-circle" src="~/img/profile-pics/1.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle" src="~/img/profile-pics/2.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle" src="~/img/profile-pics/3.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle" src="~/img/profile-pics/4.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle" src="~/img/profile-pics/5.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle" src="~/img/profile-pics/6.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle" src="~/img/profile-pics/7.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle" src="~/img/profile-pics/8.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle" src="~/img/profile-pics/1.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle" src="img/profile-pics/2.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle" src="img/profile-pics/3.jpg" alt="">
                            </a>
                            <a href="" class="col-xs-2">
                                <img class="img-circle" src="~img/profile-pics/4.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pm-body clearfix">
                <ul class="tab-nav tn-justified" tabindex="1" style="overflow: hidden; outline: none;">
                    @*<li class="active waves-effect"><a href="profile-about.html">About</a></li>*@
                    @*<li class="waves-effect"><a href="profile-timeline.html">Timeline</a></li>
                        <li class="waves-effect"><a href="profile-photos.html">Photos</a></li>
                        <li class="waves-effect"><a href="profile-connections.html">Connections</a></li>*@
                </ul>


                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Summary</h2>

                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a data-pmb-action="edit" href="">Edit</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            Sed eu est vulputate, fringilla ligula ac, maximus arcu. Donec sed felis vel magna mattis ornare ut non turpis. Sed id arcu elit. Sed nec sagittis tortor. Mauris ante urna, ornare sit amet mollis eu, aliquet ac ligula. Nullam dolor metus, suscipit ac imperdiet nec, consectetur sed ex. Sed cursus porttitor leo.
                        </div>

                        <div class="pmbb-edit">
                            <div class="fg-line">
                                <textarea class="form-control" rows="5" placeholder="Summary...">Sed eu est vulputate, fringilla ligula ac, maximus arcu. Donec sed felis vel magna mattis ornare ut non turpis. Sed id arcu elit. Sed nec sagittis tortor. Mauris ante urna, ornare sit amet mollis eu, aliquet ac ligula. Nullam dolor metus, suscipit ac imperdiet nec, consectetur sed ex. Sed cursus porttitor leo.</textarea>
                            </div>
                            <div class="m-t-10">
                                <button class="btn btn-primary btn-sm waves-effect">Save</button>
                                <button data-pmb-action="reset" class="btn btn-link btn-sm waves-effect">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>

                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group fg-line">
                                    <input type="hidden" id="hdndeliverboyId">
                                    <label>Name</label><em>*</em>
                                    <input type="text" id="txtDBName" value="" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group fg-line">
                                    <label>Area Id</label><em>*</em>
                                    <input type="text" id="txtDBAreaId" value="" class="form-control input-mask" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group fg-line">
                                    <label>Email Id</label><em>*</em>
                                    <input type="text" id="txtDBEmailId" value="" class="form-control input-mask" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="m-t-30">
                            <button class="btn btn-primary btn-sm waves-effect">Save</button>
                            <button data-pmb-action="reset" class="btn btn-link btn-sm waves-effect">Cancel</button>
                        </div>
                    </div>
                </div>

                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>

                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group fg-line">
                                    <input type="hidden" id="hdndeliverboyId">
                                    <label>Name</label><em>*</em>
                                    <input type="text" id="txtDBName" value="" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group fg-line">
                                    <label>Area Id</label><em>*</em>
                                    <input type="text" id="txtDBAreaId" value="" class="form-control input-mask" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group fg-line">
                                    <label>Email Id</label><em>*</em>
                                    <input type="text" id="txtDBEmailId" value="" class="form-control input-mask" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="m-t-30">
                            <button class="btn btn-primary btn-sm waves-effect">Save</button>
                            <button data-pmb-action="reset" class="btn btn-link btn-sm waves-effect">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>